/**
Buttons
 */

@import "../../scss";

.btn {

	text-align: center;

	@include transition(background-color);

	&__sub-title {
		text-transform: none;
		font-size: 12px;
		font-weight: var(--font-weight-default);
	}
}
