/**
Buttons
 */

@import "../../scss";

.btn {
	$self: &;
	text-align: center;
	white-space: nowrap;

	@include transition(#{"background-color, width"});

	&__sub-title {
		text-transform: none;
		font-size: 12px;
		font-weight: var(--font-weight-default);
	}

	&__icon-spinner {

		@include spin;
	}

	&--color-white:hover {

		#{$self}__icon > svg > path {
			fill: var(--color-white);
		}
	}

	&--disabled {
		cursor: default;
		pointer-events: none;
	}
}
