/**
 * Media Lightbox.
 */
@import "../../scss";

.media-lightbox {
	$self: &;

	display: block;
	height: 100%;

	&__link {
		border-radius: var(--border-radius-large);
		display: block;
		position: relative;
		overflow: hidden;
		height: inherit;

		&:hover {

			#{$self}__fullscreen {
				opacity: 1;
			}
		}

		button {
			display: block;
		}
	}

	&__fullscreen {
		background-color: var(--color-gray-80);
		border-radius: var(--border-radius);
		color: var(--color-white);
		display: flex;
		align-items: center;
		position: absolute;
		right: 24px;
		padding: var(--spacing-3);
		opacity: 0;

		@include transition();

		&-icon--position-bottom {
			bottom: 24px;
		}

		&-icon--position-top {
			top: 24px;
		}
	}

	&__fullscreen-icon--visible {

		#{$self}__fullscreen {
			opacity: 1;
		}

		#{$self}__link:hover #{$self}__fullscreen {
			background-color: var(--color-black);
		}
	}

	&__image-wrap {
		margin: 0;
		height: 100%;
	}

	&__caption {
		color: var(--color-white);
		font-style: italic;
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
		padding-top: var(--spacing-5);
		min-height: 46px;
		display: block;
		text-align: center;
	}

	dialog {

		&::backdrop {
			background-color: rgb(0, 0, 0);
		}

		/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
		&:modal {
			background-color: transparent;
			width: 100%;

			@media screen and (max-width: grid-size(md)) {
				max-width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
			}
		}
	}

	&__content {
		overflow: hidden;
		width: 100%;

		> * {

			@include fade-in(0.8s);
		}

		@media screen and (max-width: grid-size(md)) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			flex: 2;
		}

		img,
		iframe,
		.wistia_embed {
			border-radius: var(--border-radius-large);
			width: 100%;
			display: block;
			border: none;
			overflow: hidden;

			@media screen and (max-width: calc(grid-size(md) - 1px) ) {
				border-radius: 0;
			}
		}

		iframe,
		.wistia_embed {
			aspect-ratio: 16 / 9;
			height: 100%;
			max-height: 80vh;
		}

		img {
			margin-inline: auto;
			object-fit: cover;
			max-height: 80vh;

			@media screen and (min-width: grid-size(md)) {
				width: auto;
			}

			@media screen and (min-width: grid-size(md)) and (max-height: 650px) {
				height: 70vh;
			}
		}
	}

	&__close {
		display: block;
		position: fixed;
		inset: var(--spacing-5) var(--spacing-7) auto auto;
		width: 16px;
		height: 16px;

		button {
			display: block;
			color: var(--color-white);
			height: 100%;
			width: 100%;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__count {
		color: var(--color-white);
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
		display: block;
		text-align: center;
		margin-bottom: var(--spacing-5);

		@media screen and (max-width: grid-size(md)) {
			margin-bottom: 0;
			flex: 1;
		}
	}

	&__prev,
	&__next {

		&[disabled="yes"] {
			opacity: 0.3;

			button {
				cursor: not-allowed;
			}
		}

		@media screen and (max-width: calc(grid-size(md) - 1px)) {
			display: none;
		}
	}

	&__prev-button {
		left: var(--spacing-3);
		transform: translateY(-50%);

		@media screen and (max-width: grid-size(md)) {
			left: var(--spacing-5);
		}
	}

	&__next-button {
		right: var(--spacing-3);
		transform: translateY(-50%);

		@media screen and (max-width: grid-size(md)) {
			right: var(--spacing-5);
		}

		svg {
			transform: rotate(180deg);
		}
	}

	&__prev-button,
	&__next-button {
		position: absolute;
		top: calc(50% - 23px);
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid var(--color-white);
		z-index: 2;

		@include transition(background-color);

		@media screen and (min-width: grid-size(lg)) {
			width: 46px;
			height: 46px;
		}

		@media screen and (max-width: calc(grid-size(md) - 1px) ) {
			top: 50%;
		}

		@media screen and (max-width: calc(grid-size(md) - 1px)) {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	&__bullets {
		display: inline-flex;
		align-items: flex-end;
		padding: 0;
		position: absolute;
		bottom: 0;
		right: 0;
		min-height: 46px;
		padding-bottom: 10px;
		overflow: auto;
		white-space: nowrap;
		-ms-overflow-style: none; /* for Internet Explorer, Edge */
		scrollbar-width: none; /* for Firefox */
		max-width: 100px;
	}

	&__bullet {
		background-color: var(--color-white);
		cursor: pointer;
		font-size: 0;
		line-height: 1;
		padding: 0;
		height: 8px;
		width: 8px;
		min-width: 8px;
		border-radius: 50%;
		opacity: 0.4;
		margin-left: var(--spacing-2);

		@include transition(opacity);

		&:first-child {
			margin-left: 0;
		}
	}

	&__bullet[current="yes"] {
		opacity: 1;
	}
}

tp-lightbox.media-lightbox[loading] {

	@keyframes lightbox-loading {

		from {
			rotate: 0deg;
		}

		to {
			rotate: 360deg;
		}
	}

	tp-lightbox-content::after {
		content: "";
		display: block;
		inset: 50% auto auto 50%;
		border: 2px solid var(--color-white);
		border-right-color: rgba(0, 0, 0, 0);
		border-radius: 50%;
		width: 25px;
		height: 25px;
		animation: lightbox-loading 0.8s infinite var(--transition-easing);
	}
}

quark-wistia-embed {
	display: block;
}
