/**
 * Media Lightbox.
 */
@import "../../scss";

.media-lightbox {
	display: block;
	height: 100%;

	&__link {
		border-radius: var(--border-radius-large);
		display: block;
		position: relative;
		overflow: hidden;
		height: inherit;

		&:hover {

			.media-lightbox__arrows {
				opacity: 1;
			}
		}

		button {
			display: block;
			height: 100%;
		}
	}

	&__arrows {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		color: var(--color-black);
		background-color: var(--color-white);
		border-radius: var(--border-radius);
		opacity: 0;

		svg {
			display: block;
			width: 20px;
			height: 20px;
			padding: 3px;
		}
	}

	&__image-wrap {
		margin: 0;
		height: 100%;
	}

	&__caption {
		display: block;
		max-width: calc(100% - 70px);
	}

	dialog {

		&::backdrop {
			background-color: rgba(0, 0, 0, 0.9);
		}

		/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
		&:modal {
			max-width: 100%;
			background-color: transparent;
			width: 100%;

			@media screen and (min-width: grid-size(md)) {
				max-width: 80%;
				margin-inline: 10%;
			}
		}
	}

	&__content {
		overflow: hidden;
		width: 100%;
		height: 100%;

		@media screen and (min-width: grid-size(md)) {
			border-radius: var(--border-radius-large);
		}

		img,
		iframe {
			width: 100%;
			display: block;
			border: none;
		}

		iframe {
			aspect-ratio: 16 / 9;
			height: 100%;
		}

		img {
			object-fit: cover;
		}
	}

	&__close {
		display: block;
		position: fixed;
		inset: 15px 15px auto auto;
		width: 16px;
		height: 16px;

		button {
			display: block;
			color: var(--color-white);
			height: 100%;
			width: 100%;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__count {
		display: block;
		position: fixed;
		inset: 15px auto auto 15px;
		color: var(--color-white);
	}

	&__prev {
		left: 15px;
		transform: translateY(-50%);
	}

	&__next {
		right: 15px;
		transform: translateY(-50%);

		svg {
			transform: rotate(180deg);
		}
	}

	&__prev,
	&__next {
		position: fixed;
		top: 50%;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background-color: var(--color-white);
		z-index: 2;


		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;

			svg {
				height: 15px;
				width: auto;

				path {
					fill: var(--color-black);
				}
			}
		}
	}
}
