@import "../../../front-end/scss";

.media-carousel {

	&__image-wrap {
		aspect-ratio: 2;
		border-radius: var(--border-radius-large);
		overflow: hidden;

		> * {
			display: block;
			height: 100%;
			width: 100%;
		}

		.components-placeholder {
			box-shadow: none;
			background-color: var(--color-gray-10);

			&__label {
				font-weight: var(--font-weight-bold);
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
