<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:quark/hero {"image":{"id":22644,"width":1024,"height":682,"alt":"","caption":"","title":"homepagehero","size":"large"},"immersive":"none","contentOverlap":false,"overlayOpacity":0} -->
<!-- wp:quark/hero-content -->
<!-- wp:quark/hero-content-left -->
<!-- wp:quark/hero-overline {"overline":"error code: 404","textColor":"black"} /-->

<!-- wp:quark/hero-title {"title":"Page Not Found – But the Adventure Continues","textColor":"black"} /-->

<!-- wp:quark/hero-description {"textColor":"black"} -->
<!-- wp:paragraph {"placeholder":"Write description…"} -->
<p>We couldn’t find the page you were looking for, but don’t worry— there’s still much to explore.</p>
<!-- /wp:paragraph -->
<!-- /wp:quark/hero-description -->

<!-- wp:quark/buttons -->
<!-- wp:quark/button {"url":{"url":"/","text":"","newWindow":false},"btnText":"Return to Homepage"} /-->

<!-- wp:quark/button {"url":{"url":"/contact-us","text":"","newWindow":false},"backgroundColor":"black","btnText":"Contact Us"} /-->
<!-- /wp:quark/buttons -->
<!-- /wp:quark/hero-content-left -->
<!-- /wp:quark/hero-content -->
<!-- /wp:quark/hero -->
<!-- wp:template-part {"slug":"footer"} /-->
