<!-- wp:template-part {"slug":"header","theme":"quarkexpeditions"} /-->

<!-- wp:quark/breadcrumbs /-->

<!-- wp:quark/section {"hasTitle":false} -->

<!-- wp:quark/staff-member-title-meta /-->

<!-- wp:quark/featured-image /-->

<!-- wp:post-content /-->

<!-- /wp:quark/section -->

<!-- wp:quark/section {"title":"More Expedition Team","titleAlignment":"left"} -->
<!-- wp:quark/staff-members {"selection":"auto"} /-->
<!-- /wp:quark/section -->

<!-- wp:template-part {"slug":"footer","theme":"quarkexpeditions"} /-->
