/**
 * Expedition Cards.
 */
@import "../../scss";

.expedition-cards {
	$self: &;

	&__card {
		border-radius: var(--border-radius-large);
		box-shadow: var(--shadow-1);
		padding: var(--grid-col-gutter);

		& + & {
			margin-top: var(--grid-row-gutter);
		}
	}

	&__card-banner {
		border-top-right-radius: var(--border-radius-large);
		border-top-left-radius: var(--border-radius-large);
		margin: calc(-1 * var(--grid-col-gutter)) calc(-1 * var(--grid-col-gutter)) 0;
		overflow: hidden;
	}

	&__card-banner-link {
		background-color: var(--color-dark-blue);
		color: var(--color-white);
		display: flex;
		align-items: center;
		font-weight: var(--font-weight-bold);
		gap: var(--spacing-3);
		padding: var(--spacing-2) var(--grid-col-gutter);
		min-height: 40px;

		@include transition();

		&[href]:hover {
			background-color: var(--color-blue);
			text-decoration: none;
		}
	}

	&__grid {
		margin-top: var(--grid-col-gutter);
		position: relative;

		@media screen and (min-width: grid-size(md)) {
			grid-template-columns: 288px 1fr;
			grid-column-gap: var(--spacing-7);
		}

		.sidebar-grid & {
			grid-template-columns: repeat(1, 1fr);

			@media screen and (min-width: grid-size(md)) {
				grid-template-columns: 288px 1fr;
				grid-column-gap: var(--spacing-7);
			}
		}
	}

	&__grid-column {
		display: flex;
		flex-direction: column;
	}

	&__promo-tag {
		background-color: var(--color-success-50);
		color: var(--color-white);
		font-weight: var(--font-weight-bold);
		display: flex;
		align-items: center;
		align-self: flex-start;
		position: relative;
		min-height: 30px;
		padding: 0 var(--spacing-2) 0 var(--spacing-3);
		margin-left: calc(-1 * var(--grid-col-gutter));

		@media screen and (min-width: grid-size(md)) {
			padding: 0 var(--spacing-3) 0 var(--spacing-2);
			margin-right: calc(-1 * var(--grid-col-gutter));
			margin-left: 0;
			position: absolute;
			right: 0;
		}

		&::before,
		&::after {
			height: 0;
			width: 0;
			content: "";
			position: absolute;
			border-style: solid;
			border-width: 0;
			border-width: 15px 10px;
		}

		&::before {
			border-color: var(--color-success-50) var(--color-success-50) var(--color-success-50) transparent;
			left: -15px;
			display: none;

			@media screen and (min-width: grid-size(md)) {
				display: block;
			}
		}

		&::after {
			border-color: var(--color-success-50) transparent var(--color-success-50) var(--color-success-50);
			right: -15px;
			display: block;

			@media screen and (min-width: grid-size(md)) {
				display: none;
			}
		}
	}

	&__date {
		font-weight: var(--font-weight-bold);
		margin-bottom: 0;
	}

	&__icons {
		margin-bottom: var(--grid-row-gutter);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		display: flex;
		gap: var(--spacing-2);
		font-weight: var(--font-weight-bold);
		position: relative;

		& + & {
			margin-top: var(--spacing-2);
		}
	}

	&__icon-svg {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 28px;
		min-height: 28px;
	}

	&__specifications {
		display: flex;
		flex-direction: column;
		gap: var(--grid-col-gutter);
		border-bottom: 1px solid var(--color-gray-20);
		padding-bottom: var(--grid-row-gutter);

		@media screen and (min-width: grid-size(xl)) {
			display: grid;
			grid-template-columns: clamp(120px, 30%, 200px) 1fr;
		}

		.sidebar-grid & {
			display: flex;
			flex-direction: column;

			@media screen and (min-width: grid-size(xxl)) {
				display: grid;
				grid-template-columns: clamp(120px, 30%, 200px) 1fr;
			}
		}
	}

	&__specification-item {
		min-width: 0;
		position: relative;

		&:first-child {

			@media screen and (min-width: grid-size(md)) {
				padding-right: 170px; // Promo tag width.
			}

			@media screen and (min-width: grid-size(xl)) {
				padding-right: 0;
			}
		}

		&:nth-child(2) {

			@media screen and (min-width: grid-size(xl)) {
				padding-right: 170px; // Promo tag width.
			}
		}

		.sidebar-grid & {

			&:first-child {

				@media screen and (min-width: grid-size(md)) {
					padding-right: 170px; // Promo tag width.
				}

				@media screen and (min-width: grid-size(xxl)) {
					padding-right: 0;
				}
			}
		}
	}

	&__specification-label {
		color: var(--color-gray-80);
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
	}

	&__specification-value {
		font-weight: var(--font-weight-bold);
	}

	&__row {

		@media screen and (min-width: grid-size(xl)) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: flex-end;
		}

		.sidebar-grid & {
			display: block;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		gap: var(--spacing-2);
		margin-top: var(--grid-row-gutter);
	}

	&__rating-content {

		a {
			color: var(--color-blue);
			text-decoration: none;

			&:hover {
				color: var(--color-dark-blue);
			}
		}
	}

	&__options-list {
		display: flex;
		padding: 0;
		list-style: none;
		min-width: 0;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
	}

	&__option {

		&:first-child {

			@media screen and (max-width: calc(grid-size(sm) - 1px)) {
				max-width: calc(100% - 140px);
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		&--hidden {
			display: none;
		}

		& + &::before {
			content: ",";
		}
	}

	&__options-count-wrap {
		display: flex;
		align-items: center;
		gap: var(--spacing-2);

		&::before {
			display: none;
		}
	}

	quark-expedition-card {
		display: block;

		&[open="true"] #{$self}__cta {
			border-color: var(--color-black);
			background-color: transparent;
		}
	}

	&__price-wrap {
		margin-top: var(--grid-row-gutter);
	}

	&__price-title,
	&__price-now {
		color: var(--color-success-100);
	}

	&__price--original {
		color: var(--color-gray-60);
	}

	&__transfer-package {
		margin-top: var(--spacing-2);
	}

	&__transfer-package-header {
		display: flex;
		align-items: center;
		gap: var(--spacing-2);
	}

	&__buttons {
		display: flex;
		flex-flow: column-reverse;
		gap: var(--spacing-4);
		margin-top: var(--grid-row-gutter);

		@media screen and (min-width: grid-size(lg)) {
			flex-flow: row wrap;
		}

		.btn {
			flex: 1;
			min-width: 0;
		}

		.options-button {
			min-width: 60%;

			.btn {
				min-width: 60px;
			}
		}

		.sidebar-grid & {
			flex-direction: column;

			@media screen and (min-width: grid-size(xl)) {
				flex-flow: row wrap;
			}
		}
	}

	&__drawer-open {
		color: var(--color-gray-40);
		cursor: pointer;
		display: flex;
	}

	&__transfer-package-label {
		margin: 0;
	}

	&__transfer-package-content {

		.drawer__header {
			padding-right: var(--spacing-6);
		}

		.drawer__content {
			max-width: 640px;
			width: 100%;
			padding: var(--spacing-5);
		}

		.drawer__body {
			margin-top: var(--spacing-5);
		}

		.drawer__drawer-close {
			inset: var(--grid-row-gutter) var(--spacing-5) auto auto;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			background-color: var(--color-gray-5);
			border-radius: var(--border-radius);
			padding: var(--spacing-2) var(--spacing-3);

			+ li {
				margin-top: var(--spacing-2);
			}
		}
	}

	&__more-details {
		margin-top: var(--spacing-8);
		display: none;

		&--active {
			display: block;
		}
	}

	&__tooltip {
		display: inline-flex;
		cursor: pointer;
		vertical-align: middle;
		white-space: normal;

		&:hover {
			#{$self}__tooltip-description {
				visibility: visible;
			}

			#{$self}__icon {

				&::before,
				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__tooltip-title {
		font-weight: var(--font-weight-bold);
	}

	&__tooltip-description {
		box-shadow: var(--shadow-3);
		visibility: hidden;
		position: absolute;
		z-index: 101;
		width: max-content;
		max-width: 240px;
		background-color: var(--color-white);
		border: 1px solid var(--color-black);
		border-radius: var(--border-small);
		margin: 0 auto var(--spacing-1);
		font-weight: initial;
		padding: var(--spacing-3) var(--spacing-4);
		left: 0;
		top: calc(100% + var(--spacing-4));

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: var(--spacing-5);
			bottom: 100%;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			margin-left: -7px;
			border-width: 10px;
		}

		&::after {
			bottom: calc(100% - 1.5px);
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--color-white) rgba(0, 0, 0, 0);
			z-index: 101;
		}

		&::before {
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--color-black) rgba(0, 0, 0, 0);
		}

		ul {
			list-style-type: disc;
		}
	}

	&__tooltip-icon {
		color: var(--color-gray-40);
		display: inline-block;
		height: 22px;
	}

	// Media carousel.
	.media-carousel {
		display: flex;
		height: 100%;
		position: relative;

		&:hover .media-carousel__arrows {
			opacity: 1;
			visibility: visible;
		}

		&__track,
		&__slides {
			min-height: 100%;
		}

		&__arrows {
			align-self: center;
			position: absolute;
			left: 0;
			z-index: 1;
			width: 100%;
			justify-content: space-between;
			padding: 0 20px;
			margin: 0 auto;
			opacity: 0;
			visibility: hidden;
		}

		&__item {

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: var(--border-radius-large);

				@media screen and (min-width: grid-size(xl)) {
					aspect-ratio: initial;
				}
			}
		}

		tp-slider-slides:first-of-type > tp-slider-slide {

			@media screen and (min-width: grid-size(md)) {
				height: 100%;
			}

			.sidebar-grid & {

				@media screen and (max-width: calc(grid-size(md) - 1px)) {
					height: auto;
				}
			}
		}

		tp-slider-nav {
			display: flex;

			tp-slider-nav-item:nth-child(n+15) {
				display: none;
			}
		}
	}
}
