.review-cards {

	&__slider {
		display: flex;
		flex-wrap: wrap;
		padding-left: var(--typography-spacing);
	}

	&__card {
		margin-bottom: var(--typography-spacing);
		width: 340px;

		.block-list-appender {
			display: none;
		}
	}

	.block-list-appender {
		position: relative;
		width: 340px;
	}
}
