@import "../../scss";

.video-icons-card {
	$self: &;

	width: 100%;
	aspect-ratio: 16 / 9;
	display: block;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-6);

	&__container {
		position: relative;
	}

	&__overlay {
		position: absolute;
		inset: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		#{$self}__title,
		#{$self}__icons {
			color: var(--color-white);
			display: none;

			@media screen and (min-width: grid-size(md)) {
				display: block;
				padding: var(--spacing-6);
			}
		}

		#{$self}__title {
			background: linear-gradient(180deg, rgba(color("black"), 0.9) 0%, rgba(color("black"), 0) 100%);
		}

		#{$self}__icons {
			background: linear-gradient(180deg, rgba(color("black"), 0) 0%, rgba(color("black"), 0.9) 74%);
		}
	}

	&__title,
	&__icons {
		z-index: 3;
		position: relative;
		margin: 0;
		color: var(--color-black);

		@media screen and (min-width: grid-size(md)) {
			display: none;
		}
	}

	&__thumbnail,
	&__video {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__video {
		position: relative;
	}

	&__thumbnail {
		position: absolute;
		inset: 0;
		z-index: 1;
	}
}
