/**
 * Logo Grid.
 */
@import "../../scss";

.logo-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;

	img {
		display: block;
		height: 32px;
		width: auto;
	}

	&--md {
		gap: 20px;

		img {
			height: 40px;
		}
	}

	&--lg {
		gap: 24px;

		img {
			height: 64px;
		}
	}

	&--alignment-center {
		justify-content: center;
	}

	&--alignment-right {
		justify-content: flex-end;
	}

	figure {
		margin: 0;
	}
}
