/**
 * Template Title.
 */

@import "../../scss";

.staff-member-title {
	margin-top: var(--spacing-7);
	font-weight: var(--font-weight-default);
	line-height: var(--h1-line-height);

	@media screen and (min-width: grid-size(md)) {
		margin-top: var(--spacing-8);
	}

	@media screen and (min-width: grid-size(lg)) {
		margin-top: var(--spacing-9);
	}
}

.staff-member-roles {
	font-weight: var(--font-weight-default);
	line-height: var(--h1-line-height);

	@media screen and (min-width: grid-size(md)) {
		margin-top: var(--spacing-8);
	}

	@media screen and (min-width: grid-size(lg)) {
		margin-top: var(--spacing-9);
	}
}

.staff-member-title + .staff-member-roles {
	margin-top: var(--spacing-3);
}
