# --- Windows and Mac files
[Tt]humbs.db
.DS_Store

# --- Packages
node_modules
vendor

# --- Root
/*
!.bin
!.docker
!.browserslistrc
!.eslintignore
!.eslintrc.json
!.editorconfig
!.github
!.gitignore
!.gitmodules
!.tests
!.env.sample
!blade.config.php
!composer.json
!composer.lock
!.nvmrc
!docker-compose.yml
!package.json
!package-lock.json
!phpcs.xml
!phpstan.neon
!phpunit.xml
!.stylelintrc
!.stylelintignore
!config/
!tsconfig.json
!webpack.config.js
!postcss.config.js
!wp-cli.yml
!README.md
!.cloudflare

# --- WordPress
!wp-content/
!index.php
!wp-config.php

# --- Build
dist

# --- WP Content
wp-content/*
!wp-content/themes/
!wp-content/mu-plugins/
!wp-content/languages/
!wp-content/object-cache.php

# --- MU Plugins
wp-content/mu-plugins/travelopia/
wp-content/mu-plugins/wordpress-blade/

# --- Themes
wp-content/themes/*
!wp-content/themes/quarkexpeditions/
!wp-content/themes/quarkexpeditions/src/vendor/

# --- Languages
wp-content/languages/*
!wp-content/languages/zh_CN.mo
