@import "../../scss/";

.link-detail-cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--spacing-6);

	@media screen and (min-width: grid-size(md)) {
		grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
	}

	&__card {
		border-radius: var(--border-radius-large);
		border: 1px solid var(--color-gray-20);
		background-color: var(--color-gray-5);
		padding: var(--spacing-6);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		text-decoration: none;

		&:hover {
			text-decoration: none;
			box-shadow: var(--shadow-2);
			background-color: var(--color-white);
		}

		.h4,
		p {
			margin-bottom: 0;
		}
	}

	&__title {
		display: flex;
		gap: var(--spacing-4);
		justify-content: space-between;
		align-items: start;

		h3 {

			@media screen and (min-width: grid-size(md)) {
				min-height: 64px;

				@include line-clamp(2);
			}
		}
	}

	&__chevron {
		transform: rotate(180deg);

		path {
			fill: var(--color-black);
		}
	}
}
