/**
 * Dates rates.
 */
@import "../../scss";
@import "css/cards";

.dates-rates {
	$self: &;

	&[loading="yes"] {

		#{$self}__results {
			display: none;

			&--loading {
				display: block;
			}
		}
	}

	&__results {
		display: block;


		&--loading {
			display: none;
		}

		#{$self}[loading="yes"] & {
			display: none;

			&--loading {
				display: block;
				width: fit-content;
				margin-inline: auto;
				margin-block: var(--spacing-6);

				> svg {
					width: 80px;
					height: 80px;

					@include spin;

					> path {
						fill: var(--color-yellow);
					}
				}
			}
		}

	}

	&__filters {
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: flex;
			justify-content: space-between;
			gap: var(--spacing-5);
		}
	}

	&__filters-heading {
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: block;
		}
	}

	&__filter-chip-container,
	&__filter-chip {
		display: block;
	}

	tp-multi-select-field {
		padding-block: var(--spacing-2);
	}

	&__filters-chips {
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: flex;
			flex-flow: row wrap;
			gap: var(--spacing-3);
		}
	}

	&__filter-currency {
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: block;
			width: auto;
			min-width: 130px;
		}
	}

	&__drawer {

		.drawer__header {
			margin-bottom: var(--spacing-5);
		}

		&[animation-direction="up"] .drawer__content {

			@media screen and (max-width: calc(grid-size(md) - 1px)) {
				height: 100%;
				border-radius: 0;
			}
		}

		.drawer__content {
			padding: var(--spacing-6);

			@media screen and (min-width: grid-size(md)) {
				max-width: 624px;
				width: 100%;
			}
		}

		.drawer__drawer-close {
			inset: 40px 38px auto auto;
		}

		.drawer__footer {
			border-top: 1px solid var(--color-gray-20);
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: var(--spacing-4);
			margin-top: -1px;
			padding-top: var(--spacing-5);

			#{$self}__apply-filters-btn {
				flex: 1;

				.btn {
					width: 100%;
				}

				@media screen and (min-width: grid-size(md)) {
					flex: initial;
				}
			}
		}
	}

	&__drawer,
	&__drawer-currency {

		.form-field-group__group {
			grid-template-columns: 1fr;
		}
	}

	&__drawer-currency {

		.drawer__header {
			margin-bottom: var(--spacing-5);
		}

		.drawer__content {
			padding: var(--spacing-6);
		}

		.drawer__drawer-close {
			inset: 40px 38px auto auto;
		}
	}

	&__filter-chip-button.btn--outline {
		border-radius: 48px;
		border-color: var(--color-gray-30);
		font-size: inherit;
		font-weight: 400;
		line-height: inherit;
		text-transform: uppercase;

		&:hover {
			background-color: var(--color-gray-50);
			border-color: var(--color-gray-50);
		}
	}

	&__sticky-filters {
		background: var(--color-gray-80);
		border-radius: 50px;
		position: fixed;
		bottom: 32px;
		left: 32px;
		display: flex;
		align-items: center;
		width: calc(100% - 64px);
		z-index: 99;

		&::before {
			content: "";
			height: 30px;
			width: 1px;
			background-color: var(--color-gray-60);
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
		}

		@media screen and (min-width: grid-size(md)) {
			display: none;
		}

		> * {
			flex: 1;
			min-width: 0;

			&[filtered="yes"] .btn::after {
				display: inline-block;
				content: "";
				width: 6px;
				height: 6px;
				background-color: var(--color-attention-50);
				border-radius: 50%;
				vertical-align: text-top;
			}
		}

		.btn {
			background-color: transparent;
			color: var(--color-white);
			border: 0;
			text-align: center;
			width: 100%;
			min-height: 48px;
			font-size: 14px;
			font-weight: var(--font-weight-bold);

			&:hover {
				background-color: transparent;
			}
		}
	}

	&__result-count {
		display: flex;
		gap: var(--spacing-5);
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__result-count-annotations {
		display: flex;
		gap: var(--spacing-5);
		flex-wrap: wrap;
	}

	&__result-count-annotation {
		display: flex;
		gap: var(--spacing-3);
		flex-wrap: nowrap;
		align-items: center;

		&::before {
			content: "";
			flex-shrink: 0;
			display: block;
			height: 24px;
			width: 24px;
			background-color: var(--color-attention-10);
			border-radius: 50%;
		}

		&--premium::before {
			background-color: var(--color-yellow);
		}
	}

	&__header {

		> * {
			margin-inline: 0;
		}

		> #{$self}__result-count {

			@media screen and (min-width: grid-size(md)) {
				margin-top: var(--spacing-6);
			}
		}
	}

	&__filters-container {

		> * {
			margin-bottom: var(--spacing-5);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__selected-filters {
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: flex;
			align-items: baseline;
			gap: var(--spacing-4);
			flex-wrap: wrap;

			&[empty="yes"] {
				display: none;
			}
		}

		> *:not(template) {
			display: inline-flex;
		}

		&-list {
			flex-wrap: wrap;
			gap: var(--spacing-3);
		}
	}

	&__selected-filter {

		&-pill {
			display: inline-flex;
			padding: var(--spacing-1) var(--spacing-3);
			border-radius: var(--border-radius-large);
			background-color: var(--color-gray-80);
			color: var(--color-white);
			gap: var(--spacing-1);

			> * {
				flex-shrink: 0;
			}
		}

		&-text {
			font-size: var(--font-size-small);
			font-weight: var(--font-weight-bold);
			text-transform: uppercase;
		}

		&-close {
			color: var(--color-white);
			display: flex;
			align-items: center;

			svg {
				width: 8px;
				height: 8px;
			}
		}
	}

	[data-hidden] {
		display: none;
		pointer-events: none;
	}

	quark-dates-rates-pagination-links-controller,
	quark-dates-rates-pagination-total-pages,
	quark-dates-rates-pagination-items-per-page,
	quark-dates-rates-filters-inputs-container {
		display: contents;
	}

	&__result-count-value {
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: inline;
		}
	}

	&__title {
		margin-bottom: 0;
	}

	quark-dates-rates-pagination-items-per-page.dates-rates__result-count-selector {
		display: contents;

		.pagination__items-per-page {
			display: inline-flex;

			&-text {
				display: none;
			}
		}

		@media screen and (min-width: grid-size(md)) {
			display: none;
		}
	}

	.pagination {
		display: grid;
		grid-template-columns: 1fr;

		@media screen and (min-width: grid-size( md )) {
			grid-template-columns: 1fr max-content minmax(350px, 1fr);
		}

		&__container {
			justify-content: center;

			@media screen and (min-width: grid-size(md)) {
				justify-content: end;
			}
		}

		button {
			color: var(--color-black);
		}
	}

	&__accordion-content--no-transition {
		transition: none;
	}

	&__gst {

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__dash {
		color: var(--color-black);
	}
}

body:has(.dates-rates) {

	// Update the wrap width.
	--wrap-width: 100%;

	.entry-content {
		margin-left: calc(-50vw + 50%);
		margin-right: calc(-50vw + 50%);
		max-width: 100vw;
		padding: 0 var(--grid-col-gutter);

		@media screen and (min-width: grid-size(lg)) {
			padding: 0 80px;
		}
	}
}
