/**
 * Icon Info Grid.
 */
@import "../../scss";

.icon-info-grid {
	$self: &;

	&__slides-container {
		column-gap: var(--spacing-6);
		height: 100%;
		align-items: stretch;

		@media screen and (min-width: grid-size(xl)) {
			display: grid;
			row-gap: var(--spacing-7);
			height: auto !important;

			@include grid-columns(3);
		}
	}

	&__track {
		margin-left: calc(-1 * var(--grid-col-gutter));
		margin-right: calc(-1 * var(--grid-col-gutter));
		padding-left: var(--grid-col-gutter);
		padding-right: var(--grid-col-gutter);
	}

	&__slide {
		background-color: var(--color-white);
		border-radius: var(--border-radius-large);
		box-shadow: var(--shadow-1);
		flex: 0 0 100%;
		padding: var(--spacing-5);

		@media screen and (min-width: grid-size(sm)) {
			flex: 0 0 calc(75% - var(--spacing-4));
		}

		@media screen and (min-width: grid-size(md)) {
			flex: 0 0 calc(45% - var(--spacing-4));
		}

		@media screen and (min-width: grid-size(xl)) {
			background-color: transparent;
			min-width: auto;
			box-shadow: none;
			padding: 0;
		}
	}

	&__item {
		position: relative;
		overflow: hidden;
		min-width: 0;
	}

	&__icon {
		border: 1px solid var(--color-gray-20);
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 48px;
		min-height: 48px;

		svg {
			max-width: 27px;
			max-height: 27px;
			height: auto;
			width: 100%;
		}

		+ * {
			margin-top: var(--spacing-5);
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: var(--spacing-6);
		margin-top: var(--spacing-6);

		@media screen and (min-width: grid-size(xl)) {
			display: none;
		}
	}

	&__arrow-button {
		background-color: var(--color-black);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			transform: scale(1.2);
		}

		&--right {

			svg {
				transform: rotate(180deg) scale(1.2);
			}
		}
	}
}
