@import "../../scss/";

.site-banner {
	background-color: var(--color-site-banner);
	color: var(--color-white);
	text-align: center;
	padding: var(--spacing-3) var(--grid-col-gutter);
	margin: 0;
	--site-banner-animation-duration: 20s;

	&__track {
		overflow: hidden;
	}

	&__content {
		width: max-content;
		animation: site-banner-loop var(--site-banner-animation-duration) linear infinite;
		display: flex;
		gap: 100vw;

		@keyframes site-banner-loop {

			to {
				transform: translateX(calc(-50% - 50vw));
			}
		}
	}

	a {
		text-decoration: none;
	}
}
