@import "../../scss";

.hero {
	$self: &;

	--hero-padding-block: var(--spacing-8);

	position: relative;
	padding-block: var(--hero-padding-block);
	margin-top: 0;
	overflow: hidden;
	z-index: 0;

	@media screen and (min-width: grid-size(lg)) {
		--hero-padding-block: var(--spacing-9);
	}

	@supports (selector(:has(*))) {

		&:has(.breadcrumbs) {
			padding-top: 0;

			#{$self}__content {
				min-height: calc(540px - var(--hero-padding-block));
			}
		}
	}

	&__text-graphic {
		max-width: 230px;
		height: 170px;
		margin-block: var(--spacing-4);

		@media screen and (min-width: grid-size(sm)) {

			&--size-small {
				max-width: 320px;
				height: 230px;
			}

			&--size-medium {
				max-width: 430px;
				height: 300px;
			}

			&--size-large {
				max-width: 640px;
				height: 460px;
			}
		}
	}

	.breadcrumbs {
		margin-bottom: var(--spacing-8);
		position: relative;
		z-index: 3;

		@media screen and (min-width: grid-size(lg)) {
			margin-bottom: var(--spacing-9);
		}
	}

	&__overlay {
		--hero-overlay-background-opacity: 0;
		position: absolute;
		display: block;
		margin: 0;
		inset: 0;
		z-index: 2;
		max-width: 100%;
		background-color: rgba(0, 0, 0, var(--hero-overlay-background-opacity));
	}

	&--immersive {
		$image_bleed_top: 112px;
		$image_bleed_bottom: 192px;

		@supports (selector(:has(*))) {

			&-top,
			&-all {
				padding-top: calc(var(--spacing-8) + $image_bleed_top);

				@media screen and (min-width: grid-size(lg)) {
					padding-top: calc(var(--spacing-9) + $image_bleed_top);
				}

				&:has(.breadcrumbs) {
					padding-top: $image_bleed_top;
				}

			}

			&-bottom,
			&-all {
				padding-bottom: calc(var(--spacing-8) + ($image_bleed_bottom / 2));
				margin-bottom: calc(-1 * $image_bleed_bottom / 2);

				@media screen and (min-width: grid-size(lg)) {
					padding-bottom: calc(var(--spacing-9) + $image_bleed_bottom);
					margin-bottom: calc(-1 * $image_bleed_bottom);
				}

				+ * {
					margin-top: 0;
					position: relative;
				}

				&.hero--content-no-overlap {
					margin-bottom: var(--grid-section-gutter);

					@media screen and (min-width: grid-size(xl)) {
						margin-bottom: calc($image_bleed_bottom / 2);
						padding-bottom: calc($image_bleed_bottom / 4);
					}
				}
			}
		}

		&-bottom::after,
		&-all::after {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			left: 0;
			right: 0;
			bottom: -1px;
			height: 100%;
			background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);

			@media screen and (min-width: grid-size(lg)) {
				background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%);
			}
		}

	}

	&--text-left {

		#{$self}__title-container {
			max-width: 350px;

			@media screen and (min-width: grid-size(lg)) {
				max-width: unset;
			}
		}
	}

	&--text-center {

		#{$self}__text-graphic {
			margin-inline: auto;

			@media screen and (min-width: grid-size(lg)) {
				margin-inline: 0;
			}
		}

		#{$self}__title-container {
			text-align: center;
			max-width: unset;

			@media screen and (min-width: grid-size(lg)) {
				text-align: unset;
			}
		}

		#{$self}__savings-tag {
			margin-inline: auto;

			@media screen and (min-width: grid-size(lg)) {
				margin-inline: 0;
			}
		}
	}

	&__wrap {
		height: 100%;
	}

	&__image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}

	&__title {
		margin-bottom: 0;
	}

	&__sub-title {
		font-weight: var(--font-weight-bold);
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--spacing-6);
		min-height: 540px;
		position: relative;
		z-index: 3;

		@media screen and (min-width: grid-size(lg)) {
			flex-direction: row;
			gap: calc(2 * var(--spacing-8));
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	&__left,
	&__right {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-6);
	}

	&__left {
		align-items: center;

		@media screen and (min-width: grid-size(lg)) {
			max-width: 640px;
			align-items: flex-start;
		}

		.btn {
			max-width: 350px;
			width: 100%;

			@media screen and (min-width: grid-size(lg)) {
				width: auto;
				padding-inline: var(--spacing-7);
			}
		}
	}

	&__right,
	&__tag,
	&__form-modal-cta {
		max-width: 350px;
		width: 100%;
	}

	&__title-container {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		width: 100%;

		@media screen and (min-width: grid-size(lg)) {
			max-width: unset;
		}
	}

	&__overline {
		color: var(--color-blue);
		font-weight: var(--font-weight-bold);

		&-color--blue {
			color: var(--color-blue);
		}

		&-color--black {
			color: var(--color-black);
		}

		&-color--white {
			color: var(--color-white);
		}
	}

	&__tag,
	.icon-badge {
		width: 100%;
		max-width: 350px;

		@media screen and (min-width: grid-size(lg)) {
			max-width: fit-content;
		}
	}

	&__form-modal-cta {

		.btn {
			width: 100%;

			@media screen and (min-width: grid-size(lg)) {
				width: auto;
			}
		}
	}

	&__savings-tag {
		padding: var(--spacing-1) var(--spacing-4);
		background-color: var(--color-success-100);
		color: var(--color-white);
		width: fit-content;
	}

	&__circle-badge {
		padding: var(--spacing-4);
		aspect-ratio: 1;
		display: grid;
		place-items: center;
		font-weight: var(--font-weight-bold);
		width: 100%;
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
		max-width: 140px;
		align-self: flex-start;
		position: relative;

		@media screen and (min-width: grid-size(lg)) {
			align-self: flex-end;
			font-size: var(--font-size);
			line-height: var(--line-height);
			padding: var(--spacing-5);
			max-width: 180px;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			background-color: var(--color-black);
			z-index: -1;
			border-radius: 50%;
		}

		p {
			text-align: center;
			max-height: 100%;
			overflow: hidden;

			@include line-clamp(4);
		}
	}
}
