@import "../../scss";

.hero {
	$self: &;

	display: flex;
	align-items: flex-start;
	min-height: 450px;
	position: relative;
	padding-top: var(--spacing-7);
	padding-bottom: var(--spacing-7);
	margin-top: 0;

	// Immersive Mode.
	&.hero--immersive {
		min-height: 520px;

		/* Add margin only if browser supports :has() */
		@supports (selector(:has(*))) {
			#{$self}__wrap {
				margin-top: calculate-rem(122px);
				margin-bottom: calculate-rem(-200px);

				@media screen and (min-width: grid-size(md)) {
					margin-bottom: calculate-rem(168px);
				}
			}
		}

		#{$self}__form {
			z-index: 4;
		}

		#{$self}__title {
			text-align: left;
		}

		#{$self}__sub-title > h5 {
			font-size: var(--font-size);
			font-weight: var(--font-weight-default);
			text-align: left;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			z-index: 3;
			left: 0;
			right: 0;
			bottom: -1px;
			height: 100%;
			background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);

			@media screen and (min-width: grid-size(md)) {
				background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%);
			}
		}

		// Any Component immediately preceded by Immersive Hero.
		+ * {
			margin-top: calculate-rem(200px);

			@media screen and (min-width: grid-size(md)) {
				position: relative;
				z-index: 4;
				margin-top: calculate-rem(-280px);
			}
		}
	}

	@media screen and (min-width: grid-size(md)) {
		min-height: 600px;
		padding-top: var(--grid-section-gutter);
		padding-bottom: var(--grid-section-gutter);
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		margin-bottom: 0;
	}

	&__sub-title {
		font-weight: var(--font-weight-bold);
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		width: var(--wrap-width);
		height: 100%;
		align-items: center;

		@media screen and (max-width: 1120px) {
			margin: 0 var(--grid-col-gutter);
		}

		@media screen and (min-width: grid-size(md)) {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	&__form {
		min-width: 310px;
		max-width: 350px;
		color: var(--color-white);
		background-color: rgba(color("black"), 0.5);
		padding: var(--spacing-5);
		margin-top: var(--spacing-5);
		border-radius: var(--border-radius-large);

		z-index: 2;

		.btn {
			width: 100%;
		}

		tp-form-error {
			display: none;
		}

		@media screen and (min-width: grid-size(md)) {
			margin-top: 0;
		}

		button {
			text-transform: uppercase;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		margin-inline: auto;
		text-align: center;
		z-index: 2;
		gap: var(--spacing-2);
		margin-right: 0;

		@media screen and (min-width: grid-size(md)) {
			margin-right: var(--spacing-7);
		}

		@media screen and (min-width: grid-size(lg)) {
			flex: 2;
			gap: var(--spacing-4);
			text-align: left;
			margin-right: calc(2 * var(--spacing-8));
		}
	}
}
