@import "../../scss";

.hero {
	$self: &;

	position: relative;
	padding-block: var(--spacing-8);
	min-height: 540px;
	margin-top: 0;

	@media screen and (min-width: grid-size(lg)) {
		padding-block: var(--spacing-9);
	}

	&--immersive {
		$image_bleed_top: 112px;
		$image_bleed_bottom: 192px;

		@supports (selector(:has(*))) {
			padding-top: calc(var(--spacing-8) + $image_bleed_top);
			padding-bottom: calc(var(--spacing-8) + ($image_bleed_bottom / 2));
			margin-bottom: calc(-1 * $image-bleed-bottom / 2);

			@media screen and (min-width: grid-size(lg)) {
				padding-top: calc(var(--spacing-9) + $image_bleed_top);
				padding-bottom: calc(var(--spacing-9) + $image_bleed_bottom);
				margin-bottom: -$image_bleed_bottom;
			}

			+ * {
				margin-top: 0;
				position: relative;
			}
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			z-index: 0;
			left: 0;
			right: 0;
			bottom: -1px;
			height: 100%;
			background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);

			@media screen and (min-width: grid-size(lg)) {
				background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%);
			}
		}

	}

	&--text-left {

		#{$self}__title-container {
			max-width: 350px;

			@media screen and (min-width: grid-size(lg)) {
				max-width: unset;
			}
		}
	}

	&--text-center {

		#{$self}__title-container {
			text-align: center;
			max-width: unset;

			@media screen and (min-width: grid-size(lg)) {
				text-align: unset;
			}
		}
	}

	&__wrap {
		max-width: var(--wrap-width);
		height: 100%;

		@media screen and (max-width: 1120px) {
			margin: 0 var(--grid-col-gutter);
		}
	}

	&__image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}

	&__title {
		margin-bottom: 0;
	}

	&__sub-title {
		font-weight: var(--font-weight-bold);
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--spacing-6);
		position: relative;
		z-index: 1;

		@media screen and (min-width: grid-size(lg)) {
			flex-direction: row;
			gap: calc(2 * var(--spacing-8));
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	&__left,
	&__right {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-6);
	}

	&__left {
		align-items: center;

		@media screen and (min-width: grid-size(lg)) {
			max-width: 640px;
			align-items: flex-start;
		}
	}

	&__right,
	&__tag,
	&__form-modal-cta {
		max-width: 350px;
		width: 100%;
	}

	&__title-container {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		width: 100%;

		@media screen and (min-width: grid-size(lg)) {
			max-width: unset;
		}
	}

	&__overline {
		color: var(--color-blue);
		font-weight: var(--font-weight-bold);
	}

	&__tag,
	.icon-badge {
		width: 100%;
		max-width: 350px;

		@media screen and (min-width: grid-size(lg)) {
			max-width: fit-content;
		}
	}

	&__form-modal-cta {

		.btn {
			width: 100%;

			@media screen and (min-width: grid-size(lg)) {
				width: auto;
			}
		}
	}

	&__form {
		padding: var(--spacing-5);
		background-color: rgba(color("black"), 0.5);
		border-radius: var(--border-radius-large);

		tp-form-error {
			display: none;
		}

		.btn {
			width: 100%;
			text-transform: uppercase;
		}
	}
}
