@import "../../scss/";

.form-snow-hill {

	&__instructions {
		margin-bottom: var(--spacing-7);
	}

	.form-field--buttons {
		margin-top: var(--spacing-7);

		.btn {
			width: 100%;

			@media screen and (min-width: grid-size(sm)) {
				max-width: 200px;
			}
		}
	}
}
