/**
 * Media Detail Cards.
 */
@import "../../scss";

.media-detail-cards {
	$self: &;

	&__card {

		@media screen and (min-width: grid-size(lg)) {

			@include grid-columns(2);
		}

		@media screen and (min-width: grid-size(md)) {

			@include grid-columns(1);
		}

		& + & {
			margin-top: var(--spacing-7);
		}
	}

	&__media-wrap {
		border-radius: var(--border-radius-large);
		overflow: hidden;
		position: relative;
		aspect-ratio: 39 / 22;

		@media screen and (min-width: grid-size(sm)) {
			aspect-ratio: 7 / 3;
		}

		@media screen and (min-width: grid-size(lg)) {
			aspect-ratio: initial;
		}

		@media screen and (min-width: grid-size(md)) {
			aspect-ratio: 4 / 3;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}

	&__details {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-4);
		margin-top: var(--spacing-6);

		@media screen and (min-width: grid-size(sm)) {
			flex-wrap: nowrap;
		}
	}

	&__detail-item {
		flex: 0 0 calc(50% - var(--spacing-4) / 2);

		@media screen and (min-width: grid-size(sm)) {
			flex: auto;
		}
	}

	&__detail-value {
		font-weight: var(--font-weight-bold);
	}
}
