/**
 * Instagram Embed
 */

.instagram-embed {

	&__media {
		max-width: 658px;
		width: 100%;
		border-radius: var(--border-small);
		border: 1px solid var(--color-gray-20);
		box-shadow: none;
		display: block;
		margin: var(--spacing-4) 0;
		padding: 0;
	}
}
