/**
 * Inquiry form modal
 */
@import "../../scss";

.instagram-embed .instagram-media {
	max-width: 658px;
	width: calc(100% - var(--spacing-4));
	border-radius: var(--border-small);
	border: 1px solid var(--color-gray-20);
	box-shadow: none;
	display: block;
	margin: var(--spacing-4) 0;
	padding: 0;
}
