/**
 * Table Of Contents.
 */

@import "../../scss";

.table-of-contents {
	$self: &;
	display: block;
	max-width: 256px;

	// Properties.
	--marker-offset: -12px;

	&__list {
		list-style-type: none;
	}

	&__title {
		margin-bottom: var(--spacing-5);
	}

	&__list-item {
		position: relative;
		margin-bottom: 0;
		padding-left: var(--spacing-6);
		padding-bottom: var(--spacing-5);

		&:last-of-type {

			&::before {
				display: none;
			}
		}

		// Joining border.
		&::before {
			content: "";
			position: absolute;
			right: 100%;
			height: 100%;
			width: 1px;
			background-color: var(--color-gray-20);
		}

		// Circle Marker.
		&::after {
			content: "";
			position: absolute;
			left: var(--marker-offset);
			top: 0;
			width: 24px;
			height: 24px;
			background-color: var(--color-gray-10);
			border-radius: 50%;
			z-index: 1;
		}

		&-title {
			color: var(--color-gray-70);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				text-decoration-color: var(--color-gray-50);
				cursor: pointer;
			}
		}

		&--active {

			&::after {
				background-color: var(--color-yellow);

				@include transition(background-color);

			}

			#{$self}__list-item-title {
				font-weight: var(--font-weight-bold);
			}
		}
	}
}
