/**
 * Tooltip.
 */

@import "../../scss";

.tooltip {
	display: inline-flex;
	height: 1em;
	vertical-align: middle;

	&__description {
		margin: 0;
		padding: var(--spacing-3) 0;
		box-shadow: var(--shadow-3);
		border: 1px solid var(--color-black);
		border-radius: var(--border-small);
		width: max-content;
		max-width: 360px;
		max-height: 360px;
		overflow: hidden;

		&-content {
			max-height: 100%;
			overflow-y: auto;
			overscroll-behavior: contain;
			padding-inline: var(--spacing-4);
		}

		/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
		&:popover-open {
			display: flex;
			align-items: stretch;
		}
	}

	&__icon {
		display: inline-flex;
		height: 100%;
		position: relative;

		svg {
			height: 100%;
			width: auto;
		}

	}

	&[tooltip-direction] {

		&::after {
			content: "";
			display: block;
			position: absolute;
			height: 10px;
			width: 10px;
			border: 1px solid var(--color-black);
			transform: rotate(-45deg) translate(-50%);
			top: -20px;
			border-color: var(--color-black) var(--color-black) transparent, transparent;
		}
	}
}
