/**
 * Departure Cards.
 */
@import "../../scss";

.departure-cards {
	$self: &;

	&__card {
		border-radius: var(--border-radius-large);
		box-shadow: var(--shadow-1);
		padding: var(--grid-col-gutter);

		& + & {
			margin-top: var(--spacing-6);
		}
	}

	&__card-banner {
		border-top-right-radius: var(--border-radius-large);
		border-top-left-radius: var(--border-radius-large);
		margin: calc(-1 * var(--grid-col-gutter)) calc(-1 * var(--grid-col-gutter)) 0;
		overflow: hidden;
	}

	&__card-banner-link {
		background-color: var(--color-dark-blue);
		color: var(--color-white);
		display: flex;
		align-items: center;
		font-weight: var(--font-weight-bold);
		gap: var(--spacing-3);
		padding: var(--spacing-2) var(--grid-col-gutter);
		min-height: 40px;

		@include transition();

		&[href]:hover {
			background-color: var(--color-blue);
			text-decoration: none;
		}
	}

	&__header {
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: space-between;
		gap: var(--spacing-5);
		margin-top: var(--grid-col-gutter);

		@media screen and (min-width: grid-size(lg)) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		&:first-child {
			margin-top: 0;
		}

		> * {
			margin-bottom: 0;
		}
	}

	&__promo-tag {
		background-color: var(--color-success-50);
		color: var(--color-white);
		font-weight: var(--font-weight-bold);
		display: flex;
		align-items: center;
		white-space: nowrap;
		position: relative;
		min-height: 30px;
		padding: 0 var(--spacing-2) 0 var(--spacing-3);
		margin-left: calc(-1 * var(--grid-col-gutter));

		@media screen and (min-width: grid-size(lg)) {
			padding: 0 var(--spacing-3) 0 var(--spacing-2);
			margin-right: calc(-1 * var(--grid-col-gutter));
			margin-left: 0;
		}

		&::before,
		&::after {
			height: 0;
			width: 0;
			content: "";
			position: absolute;
			border-style: solid;
			border-width: 0;
			border-width: 15px 10px;
		}

		&::before {
			border-color: var(--color-success-50) var(--color-success-50) var(--color-success-50) transparent;
			left: -15px;
			display: none;

			@media screen and (min-width: grid-size(lg)) {
				display: block;
			}
		}

		&::after {
			border-color: var(--color-success-50) transparent var(--color-success-50) var(--color-success-50);
			right: -15px;
			display: block;

			@media screen and (min-width: grid-size(lg)) {
				display: none;
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: var(--grid-col-gutter);
		margin-top: var(--grid-col-gutter);

		@media screen and (min-width: grid-size(lg)) {
			flex-direction: row;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&__body-column {
		flex: 1;
		min-width: 0;

		& + & {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			border-top: 1px solid var(--color-gray-20);
			padding-top: var(--grid-col-gutter);

			@media screen and (min-width: grid-size(lg)) {
				border-left: 1px solid var(--color-gray-20);
				border-top: 0;
				padding-left: var(--grid-col-gutter);
				padding-top: 0;
				max-width: 362px;
			}
		}

		> * {
			margin-top: var(--grid-col-gutter);

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__specifications {
		display: flex;
		flex-direction: column;
		gap: var(--grid-col-gutter);

		@media screen and (min-width: grid-size(lg)) {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-columns: 1fr 1fr 1fr;
		}

		> *:nth-child(3n-1):nth-last-of-type(1) {

			@media screen and (min-width: grid-size(lg)) {
				grid-column: span 2;
			}
		}

		> *:nth-child(3n-2):nth-last-of-type(1) {

			@media screen and (min-width: grid-size(lg)) {
				grid-column: span 3;
			}
		}
	}

	&__specification-item {
		position: relative;
	}

	&__specification-label {
		color: var(--color-gray-80);
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
	}

	&__specification-value {
		font-weight: var(--font-weight-bold);
	}

	&__options-list {
		display: flex;
		padding: 0;
		list-style: none;
		min-width: 0;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
	}

	&__option {

		&:first-child {

			@media screen and (max-width: calc(grid-size(sm) - 1px)) {
				max-width: calc(100% - 140px);
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		&--hidden {
			display: none;
		}

		& + &::before {
			content: ",";
		}
	}

	&__options-count-wrap {
		display: flex;
		align-items: center;
		gap: var(--spacing-2);

		&::before {
			display: none;
		}
	}

	quark-departure-card {
		display: block;

		&[open="true"] #{$self}__cta {
			border-color: var(--color-black);
			background-color: transparent;
		}
	}

	&__offers {
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
	}

	&__offers-title {
		color: var(--color-gray-80);
		margin-bottom: var(--spacing-1);
	}

	&__offers-list {
		display: flex;
		list-style: none;
		padding: 0;
		min-width: 0;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		gap: var(--spacing-2);
	}

	&__offer {
		background-color: var(--color-success-10);
		border-radius: var(--border-radius);
		color: var(--color-success-100);
		font-weight: var(--font-weight-bold);
		padding: var(--spacing-2);

		&--hidden {
			display: none;
		}
	}

	&__offer-count-button {
		background-color: var(--color-success-10);
		border: 0;
		border-radius: var(--border-radius);
		color: var(--color-success-100);
		font-weight: var(--font-weight-bold);
		padding: var(--spacing-2);
		white-space: nowrap;
		display: flex;
		align-items: center;

		&:hover {
			background-color: var(--color-success-10);
		}

		&--hidden {
			display: none;
		}
	}

	&__price-now {
		color: var(--color-success-100);
	}

	&__price--original {
		color: var(--color-gray-60);
	}

	&__transfer-package {
		margin-top: 0;
	}

	&__transfer-package-header {
		display: flex;
		align-items: center;
		gap: var(--spacing-2);
	}

	&__drawer-open {
		color: var(--color-gray-40);
		cursor: pointer;
		display: flex;
	}

	&__transfer-package-label {
		margin: 0;
	}

	&__transfer-package-content {

		.drawer__header {
			padding-right: var(--spacing-6);
		}

		.drawer__content {
			max-width: 640px;
			width: 100%;
			padding: var(--spacing-5);
		}

		.drawer__body {
			margin-top: var(--spacing-5);
		}

		.drawer__drawer-close {
			inset: var(--spacing-6) var(--spacing-5) auto auto;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			background-color: var(--color-gray-5);
			border-radius: var(--border-radius);
			padding: var(--spacing-2) var(--spacing-3);

			+ li {
				margin-top: var(--spacing-2);
			}
		}
	}

	&__more-details {
		margin-top: var(--spacing-8);
		display: none;

		&--active {
			display: block;
		}
	}

	&__offer-modal {

		.modal__header {
			padding: 0;
			text-align: left;
		}

		p {
			color: var(--color-gray-70);
		}

		ul {
			display: flex;
			flex-flow: row wrap;
			list-style: none;
			padding: 0;
			min-width: 0;
			margin: 0;
			gap: var(--spacing-2);
		}

		li {
			background-color: var(--color-success-10);
			border-radius: var(--border-radius);
			color: var(--color-success-100);
			font-size: var(--font-size-small);
			font-weight: var(--font-weight-bold);
			line-height: var(--line-height-small);
			padding: var(--spacing-2);
		}
	}

	&__tooltip {
		display: inline-flex;
		cursor: pointer;
		vertical-align: middle;
		white-space: normal;

		&:hover {
			#{$self}__tooltip-description {
				visibility: visible;
			}

			#{$self}__icon {

				&::before,
				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__tooltip-title {
		font-weight: var(--font-weight-bold);
	}

	&__tooltip-description {
		box-shadow: var(--shadow-3);
		visibility: hidden;
		position: absolute;
		z-index: 101;
		width: max-content;
		max-width: 240px;
		background-color: var(--color-white);
		border: 1px solid var(--color-black);
		border-radius: var(--border-small);
		margin: 0 auto var(--spacing-1);
		font-weight: initial;
		padding: var(--spacing-3) var(--spacing-4);
		left: 0;
		top: calc(100% + var(--spacing-4));

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: var(--spacing-5);
			bottom: 100%;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			margin-left: -7px;
			border-width: 10px;
		}

		&::after {
			bottom: calc(100% - 1.5px);
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--color-white) rgba(0, 0, 0, 0);
			z-index: 101;
		}

		&::before {
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--color-black) rgba(0, 0, 0, 0);
		}

		ul {
			list-style-type: disc;
		}
	}

	&__tooltip-icon {
		color: var(--color-gray-40);
		display: inline-block;
		height: 22px;
	}
}
