@import "../../scss";


.drawer {
	$self: &;

	padding: 0;
	justify-content: end;

	&--open {

		#{$self}__content {

			@include slide-in;
		}

		@include fade-in;
	}

	&--close {

		#{$self}__content {

			@include slide-out;
		}

		@include fade-out;
	}

	&__content {
		margin: 0;
		position: relative;

		@media screen and (min-width: grid-size(md)) {
			border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		gap: var(--spacing-3);
	}

	&__drawer-close {

		svg {
			height: 15px;
			width: 15px;
		}

		position: static;
	}
}
