@import "../../scss";


.drawer {
	$self: &;

	display: none;

	&[open] {
		display: flex;
		justify-content: end;
		align-items: flex-end;
		position: fixed;
		inset: 0;
		padding: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 102;
	}

	&--open {

		@include fade-in;

		#{$self}__content {

			@include slide-in;
		}

		&[animation-direction="up"] {

			@media screen and (max-width: grid-size(md)) {

				#{$self}__content {

					@include slide-up;
				}
			}
		}

	}

	&--close {

		@include fade-out;

		#{$self}__content {

			@include slide-out;
		}

		&[animation-direction="up"] {

			@media screen and (max-width: grid-size(md)) {

				#{$self}__content {

					@include slide-down;
				}
			}
		}

	}

	&__content {
		margin: 0;
		position: relative;
		background-color: var(--color-white);
		border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
		height: 100%;

		&--compact {
			max-width: 600px;
			padding: var(--spacing-5);
			gap: var(--spacing-4);
		}

		#{$self}[animation-direction="up"] & {
			height: unset;
			border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;

			@media screen and (min-width: grid-size(md)) {
				height: 100%;
				border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
			}
		}

		@media screen and (max-width: grid-size(md)) {
			max-width: 100%;
			width: 100%;
		}
	}

	*:has( > #{$self}__body, > #{$self}__header, > #{self}__footer) {
		max-height: 100svh;
		display: flex;
		flex-direction: column;
	}


	&__header {
		margin-right: var(--spacing-5);
	}

	&__body {
		overflow-y: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		-webkit-overflow-scrolling: touch;
		flex-grow: 1;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__drawer-close {
		display: block;
		position: absolute;
		inset: 15px 15px auto auto;

		svg {
			height: 15px;
			width: 15px;
		}
	}

	&__drawer-open {

		&--right {
			display: flex;
			justify-content: flex-end;
		}

		&--center {
			display: flex;
			justify-content: center;
		}
	}

	&__footer {

		&--compact {
			border-top: solid 1px var(--color-gray-20);
			padding-inline: var(--spacing-5);
			margin-inline: calc(-1 * var(--spacing-5));
		}
	}
}
