/**
 * Ship Deck Image
 */
@import "../../scss";

.ship-deck-image {

	&--has-vertical-image &__horizontal {
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: block;
		}
	}

	&__vertical {
		display: block;

		img {
			margin: 0 auto;
		}

		@media screen and (min-width: grid-size(md)) {
			display: none;
		}
	}
}
