/**
 * Reviews Cards.
 */

@import "../../scss";

.review-cards {
	$self: &;

	overflow-x: hidden;

	&__slider {
		overflow-x: visible;
		width: 100vw;
		padding-block: var(--spacing-4);

		&:has(div.review-cards__nav) {
			#{$self}__track {
				margin-bottom: 0;
			}
		}

		&[total="2"] {

			#{$self}__nav {

				@media screen and (min-width: grid-size(md)) {
					display: none;
				}
			}
		}

		&[total="3"] {

			#{$self}__slides {

				@media screen and (min-width: grid-size(xl)) {
					left: initial !important;
				}
			}

			#{$self}__nav {

				@media screen and (min-width: grid-size(xl)) {
					display: none;
				}
			}
		}
	}

	&__track {
		padding: 0 0 var(--spacing-4);
		margin-bottom: var(--spacing-7);
		scrollbar-width: none; /* Firefox */

		&::-webkit-scrollbar {
			display: none;
		}

		@media screen and (min-width: grid-size(sm)) {
			overflow-x: visible;
		}
	}

	&__slides {
		align-items: stretch;
	}

	&__nav {
		display: flex;
		column-gap: var(--spacing-5);
		margin-top: var(--spacing-6);

		@media screen and (min-width: grid-size(md)) {
			margin-top: calc(var(--spacing-7) - var(--spacing-4));
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		max-width: 310px;
		padding: var(--spacing-5);
		background-color: var(--color-white);
		border-radius: var(--border-radius-large);
		box-shadow: var(--shadow-1);

		&:not(:last-child) {
			margin-right: var(--spacing-5);
		}

		&-title {
			font-family: var(--font-family);
			font-weight: var(--font-weight-bold);

			@include line-clamp(2);

			&::before {
				content: "“";
			}

			&::after {
				content: "”";
			}
		}

		@media screen and (min-width: grid-size(sm)) {
			max-width: 357px;
		}
	}

	&__content {
		margin-bottom: var(--spacing-6);

		@include line-clamp(7);
	}

	&__author {
		font-weight: var(--font-weight-bold);
		margin-top: auto;

		&-details {
			min-height: 50px;
			color: var(--color-gray-70);
			margin-top: var(--spacing-2);

			@include line-clamp(2);
		}
	}

	&__rating {
		margin-bottom: var(--spacing-5);
	}

	&__arrow-button {
		background-color: var(--color-black);
		width: 27px;
		height: 27px;
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			width: 7px;
			height: 11px;
		}

		&--right {

			svg {
				transform: rotate(180deg);
			}
		}
	}
}
