/**
 * Itinerary Details.
 */

@import "../../scss";

.itinerary-details {
	$self: &;

	min-width: 0;
	display: block;

	.section:has(&) { // stylelint-disable-line

		@media screen and (max-width: calc(grid-size(md) - 1px)) {
			background-color: var(--color-black);
			margin-left: calc(-1 * var(--grid-col-gutter));
			margin-right: calc(-1 * var(--grid-col-gutter));
			padding: var(--spacing-7) var(--grid-col-gutter);

			#{$self}__tabs-nav-link {
				background-color: var(--color-gray-90);
				border-color: var(--color-gray-80);
				color: var(--color-white);
			}
		}
	}

	tp-tabs-nav {
		display: block;

		@media screen and (min-width: grid-size(lg)) {
			max-width: 256px;
			min-width: 256px;
		}
	}

	&__tabs {
		display: flex;
		flex-direction: column;

		@media screen and (min-width: grid-size(md)) {
			gap: var(--spacing-6);
			flex-direction: row;
		}

		@media screen and (max-width: calc(grid-size(md) - 1px)) {

			&::before {
				content: "";
				position: fixed;
				height: 100%;
				width: 100%;
				background: rgba(color("black"), 0.3);
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;

				@include transition();
			}
		}

		&[current-tab] {

			@media screen and (max-width: calc(grid-size(md) - 1px)) {

				&::before {
					opacity: 1;
					visibility: visible;
					z-index: 101;
				}
			}
		}
	}

	&__tabs-content {
		position: relative;
		flex: 1;
		min-width: 0;

		@include transition(height, 0.4s);

		@media screen and (max-width: calc(grid-size(md) - 1px)) {
			z-index: 101;
		}
	}

	&__tab {
		display: none;

		&[open="yes"] {
			display: block;

			@media screen and (max-width: calc(grid-size(md) - 1px)) {
				top: var(--spacing-8);
				visibility: visible;
				opacity: 1;
			}
		}

		> *:not(:first-child) {

			@media screen and (max-width: calc(grid-size(md) - 1px)) {
				margin-top: var(--spacing-5);
			}
		}

		@media screen and (max-width: calc(grid-size(md) - 1px)) {
			position: fixed;
			height: 100%;
			width: 100%;
			background: var(--color-white);
			left: 0;
			top: 100%;
			display: block;
			visibility: hidden;
			opacity: 0;
			border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
			padding: var(--spacing-5);

			@include transition();
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--spacing-3);
		min-height: 64px;

		@media screen and (min-width: grid-size(md)) {
			display: none;
		}
	}

	&__header-title {
		margin-bottom: 0;

		@include line-clamp(2);
	}

	&__body {

		@media screen and (max-width: calc(grid-size(md) - 1px)) {
			max-height: calc(100vh - 64px - 64px - 48px - 48px - 128px); // Full height - top spacing - header height - padding - gap - footer.
			overflow: auto;
		}
	}

	&__footer {

		@media screen and (min-width: grid-size(md)) {
			display: none;
		}

		#{$self}__download-button {
			background-color: transparent;
			color: var(--color-black);
			border-color: transparent;
			text-decoration: underline !important;
		}
	}

	&__cta {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
	}

	&__tabs-nav {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
	}

	&__tabs-nav-link {
		border: 1px solid var(--color-gray-20);
		border-radius: var(--border-radius-large);
		box-shadow: var(--shadow-1);
		display: block;
		padding: var(--spacing-5);
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		@media screen and (min-width: grid-size(md)) {
			background-color: var(--color-gray-5);

			&:hover {
				background-color: var(--color-white);

				#{$self}__tabs-nav-item-title {
					text-decoration: underline;
					text-decoration-color: var(--color-yellow);
				}
			}
		}

		#{$self}__tabs-nav-item[active="yes"] & {

			@media screen and (min-width: grid-size(md)) {
				background-color: var(--color-black);
				color: var(--color-white);
			}
		}
	}

	&__tabs-nav-item-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--spacing-3);
		font-weight: var(--font-weight-bold);
		text-transform: capitalize;
	}

	&__summary {
		display: flex;
		gap: var(--spacing-6);
		flex-direction: column;

		@media screen and (min-width: grid-size(md)) {
			flex-direction: row;
		}

		.media-lightbox {
			flex: 1;
			min-width: 0;
		}

		dl {
			margin-bottom: var(--spacing-6);

			&:last-child {
				margin-bottom: 0;
			}
		}

		#{$self}__download-button {
			display: none;

			@media screen and (min-width: grid-size(md)) {
				display: block;
				width: 100%;
			}
		}
	}

	&__details {
		margin-top: var(--spacing-6);
	}

	&__summary-content {
		order: 1;

		@media screen and (min-width: grid-size(md)) {
			max-width: 256px;
			min-width: 256px;
			order: initial;
		}

		a:not(.btn) {
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12' fill='none'%3E%3Cpath d='M0.972656 9.88475L4.71449 5.98325L0.972656 2.08175L2.12462 0.883252L7.02658 5.98325L2.12462 11.0833L0.972656 9.88475Z' fill='%23232933'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center right;
			padding-right: 18px;
		}
	}

	&__image {
		object-fit: cover;
		aspect-ratio: 544 / 426;
		border-radius: var(--border-radius-large);
	}

	.media-lightbox:not([open="yes"]) {
		display: none;
	}
}
