.quark-info-cards .info-cards {

	.wrap {
		padding-inline: 0;
	}

	&__slider {
		display: flex;
		flex-wrap: wrap;
	}

	&__card {
		width: 352px;

		.block-list-appender {
			display: none;
		}
	}

	&__card-content {
		position: absolute;
	}

	&__image-wrap {
		aspect-ratio: 2 / 3;
	}

	.maybe-link {
		text-decoration: none;
	}

	.block-list-appender {
		position: relative;
		width: 352px;
	}
}

.info-cards {

	.wrap {
		padding-inline: 0;
	}
}
