/**
 * Variables.
 */

// Global Variables.
$is-editor: false !default;

// Colors.
$colors: (
	// Primary.
	"black": #232933,
	"white": #fff,
	"yellow": #fdb52b,
	"dark-blue": #2a5f8c,
	"blue": #4c8bbf,
	"magenta": #a26792,

	// Grayscale.
	"gray-90": #383d49,
	"gray-80": #454c5b,
	"gray-70": #535b6d,
	"gray-60": #6c768e,
	"gray-50": #868fa3,
	"gray-40": #a8aebd,
	"gray-30": #c9cdd6,
	"gray-20": #dadee5,
	"gray-10": #eceef2,
	"gray-5": #f5f7fb,

	// States.
	"success-100": #3a735d,
	"success-50": #5bb291,
	"success-10": #e6f2ee,
	"attention-100": #c77413,
	"attention-50": #f29b34,
	"attention-10": #ffe5c7,
	"error-100": #bf483b,
	"error-50": #df5748,
	"error-10": #fdddd9,
	"information-100": #4b5059,
	"information-50": #808999,
	"information-10": #fafbff,

	// Miscellaneous
	"site-banner": #4a935e,
) !default;

// Grid.
$grid-breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1440px,
	xxxl: 1680px,
) !default;
