.lp-header {

	.gumponents-select-image {
		width: 55px;
		height: 55px;
		overflow: visible;

		&__image-container {
			position: relative;
		}

		&__inline-menu {
			display: flex;
			position: absolute;
			top: -20px;
			left: -10px;
		}
	}
}
