@import "../../scss/";

.media-carousel {
	position: relative;

	&__track {
		border-radius: var(--border-radius-large);
		overflow: hidden;
		width: 100%;
	}

	&__item img {
		aspect-ratio: 20 / 11;

		@media screen and (min-width: grid-size(md)) {
			aspect-ratio: 2;
		}
	}

	&__arrows {
		display: flex;
		margin-top: var(--spacing-4);
		gap: var(--spacing-5);

		@media screen and (min-width: grid-size(lg)) {
			margin-top: var(--spacing-6);
		}
	}

	&__arrow-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 27px;
		height: 27px;
		background-color: var(--color-black);
		border-radius: 50%;

		&--right {
			transform: rotate(180deg);
		}
	}

	tp-slider-nav {
		position: absolute;
		bottom: var(--spacing-3);
		left: 50%;
		transform: translate(-50%);
		z-index: 5;
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: flex;
		}
	}

	tp-slider-nav-item button {
		display: block;
		font-size: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--color-gray-40);
	}

	tp-slider-nav-item[current="yes"] button {
		background-color: var(--color-white);
	}
}
