@import "../../scss/";

.global-message {
	background-color: var(--color-success-100);
	color: var(--color-white);
	text-align: center;
	padding: var(--spacing-3) 20px;

	a {
		text-decoration: none;
	}
}
