@import "../../scss";

.form-two-step {
	padding: var(--spacing-5);
	background-color: rgba(color("black"), 0.5);
	border-radius: var(--border-radius-large);

	&__content {
		height: 100%;

		.form-field--buttons {
			margin: 0;
		}
	}

	&__thank-you {
		display: none;
		gap: var(--spacing-6);
		flex-direction: column;
		align-items: center;
		text-align: center;

		svg {
			width: 145px;
			height: 60px;
		}

		&-text {

			&-heading {
				margin-bottom: var(--spacing-2);
			}

			&-body {
				color: var(--color-gray-60);
			}

			@media (min-width: grid-size(sm)) {
				padding-inline: var(--spacing-9);
			}
		}

		@media screen and (max-width: calc(grid-size(sm) - 1px)),
			screen and (max-height: calc(grid-size(md) - 1px) ) {
			padding-bottom: var(--spacing-5);
		}
	}

	&__modal {

		quark-form-two-step-modal,
		quark-form,
		form,
		tp-form {
			display: block;
			height: 100%;
		}

		tp-form-error {
			display: none;
		}

		button[type="submit"] {
			width: 100%;
		}

		textarea {
			height: 88px;
		}

		.form-field--buttons {

			button[type="submit"] {
				width: 100%;
				padding-block: var(--spacing-4);
			}
		}

		&-cta {
			display: block;
		}
	}


	.modal__modal-open {
		display: contents;
	}

	&--background-white {
		background-color: var(--color-white);
		color: var(--color-black);
	}

	tp-form-error {
		display: none;
	}

	.btn {
		width: 100%;
		text-transform: uppercase;
	}
}
