@import "../../scss";

.lp-header {
	position: sticky;
	background-color: var(--color-white);
	top: var(--wp-admin-bar-height);
	z-index: var(--lp-header-z-index);

	&__wrap {
		max-width: var(--wrap-width);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--spacing-4) 0;
		margin: auto;
	}

	&__logo svg {
		height: 56px;
		width: auto;
	}

	&__cta {

		&-avatar {
			display: none;
		}

		&-content {

			&-text {
				display: none;
			}

			&-phone-number {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 42px;
				width: 42px;
				background-color: var(--color-black);
				border-radius: var(--border-radius);

				span {
					display: none;
				}

				svg {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 1120px) {

	.lp-header {

		&__wrap {
			margin: 0 var(--grid-col-gutter);
		}
	}
}

@media screen and (min-width: grid-size(sm)) {

	.lp-header {

		&__logo svg {
			height: 80px;
		}

		&__cta {
			display: flex;
			column-gap: var(--spacing-4);
			align-items: center;
			background-color: var(--color-gray-5);
			padding: 12px;
			border-radius: var(--border-radius);
			text-decoration: none;
			cursor: pointer;

			&-avatar {
				display: block;
				margin-bottom: 0;

				img {
					border-radius: var(--border-radius);
					height: 55px;
					width: 55px;
				}
			}

			&-content {
				display: flex;
				flex-direction: column;

				&-text {
					display: block;
					font-family: var(--font-family);
					color: var(--color-gray-80);
				}

				&-phone-number {
					display: flex;
					height: auto;
					width: 100%;
					justify-content: flex-start;
					background-color: transparent;
					font-family: var(--font-family);
					font-weight: var(--font-weight-bold);

					span {
						display: block;
					}

					svg {
						display: none;
					}
				}
			}

			&:hover {
				background-color: var(--color-gray-10);
				text-decoration: none;
			}

			&:active {
				background-color: var(--color-gray-90);

				span {
					color: var(--color-white);
				}
			}
		}
	}
}
