@import "../../scss";

.lp-header {
	$self: &;

	// Properties.
	--lp-header-bg-color: var(--color-white);
	--lp-header-cta-phone-bg-color: var(--color-black);
	--lp-header-cta-bg-color: var(--color-gray-5);
	--lp-header-cta-bg-color-hover: var(--color-gray-10);
	--lp-header-cta-bg-color-active: var(--color-gray-90);
	--lp-header-cta-font-color-active: var(--color-white);
	--lp-header-cta-border-color: var(--color-gray-5);

	display: block;
	position: sticky;
	top: 0;
	z-index: var(--lp-header-z-index);
	box-shadow: var(--shadow-1);
	background-color: var(--lp-header-bg-color);

	@include transition(#{"background-color, height"});

	&.color-context--dark {
		--lp-header-bg-color: var(--color-black);
		--lp-header-cta-phone-bg-color: var(--color-white);
		--lp-header-cta-bg-color: var(--color-gray-80);
		--lp-header-cta-border-color: var(--color-gray-80);
		--lp-header-cta-bg-color-hover: var(--color-gray-90);
		--lp-header-cta-bg-color-active: var(--color-gray-5);
		--lp-header-cta-font-color-active: var(--color-black);
	}

	&:has(+ .hero--immersive-all),
	&:has(+ .hero--immersive-top) {
		margin-bottom: calculate-rem(-96px);

		&:not(#{$self}--compact) {
			box-shadow: none;

			--lp-header-bg-color: transparent;
			--lp-header-cta-bg-color: transparent;
			--lp-header-cta-border-color: var(--color-white);
			--lp-header-cta-bg-color-hover: var(--color-gray-90);
			--lp-header-cta-bg-color-active: var(--color-black);
			--lp-header-cta-font-color-active: var(--color-white);

			&:not(.color-context--dark) {
				--lp-header-cta-border-color: var(--color-black);
				--lp-header-cta-bg-color-hover: var(--color-white);
			}
		}
	}

	&--compact {

		#{$self}__logo {
			display: none;

			&--compact {
				display: block;

				svg {
					height: 56px;
				}
			}
		}

		#{$self}__cta {
			gap: var(--spacing-2);
			padding: 6px;
			font-size: 14px;
			line-height: calculate-em(24px);
		}
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: var(--spacing-2);
		height: 96px;
	}

	&__logo {
		display: block;

		&--compact {
			display: none;
		}

		svg {
			height: 56px;
			display: block;
			width: auto;

			@media screen and (min-width: grid-size(sm)) {
				height: 80px;
			}
		}
	}

	&__cta {

		@include transition(#{"background-color, color, padding, height, width"});

		&-avatar {
			display: none;
		}

		&-content {

			&-text {
				display: none;
			}

			&-phone-number {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 42px;
				width: 42px;
				background-color: var(--lp-header-cta-phone-bg-color);
				border-radius: var(--border-radius);
				color: var(--color-white);

				#{$self}.color-context--dark & {
					color: var(--color-black);
				}

				span {
					display: none;
				}

				svg {
					display: block;
				}
			}
		}

		@media screen and (min-width: grid-size(sm)) {
			--lp-header-cta-phone-bg-color: transparent;

			border-radius: var(--border-radius);
			background-color: var(--lp-header-cta-bg-color);
			display: flex;
			gap: var(--spacing-4);
			align-items: center;
			padding: var(--spacing-3);
			text-decoration: none;
			cursor: pointer;
			border: 1px solid var(--lp-header-cta-border-color);

			&-avatar {
				display: block;
				margin-bottom: 0;

				img {
					border-radius: var(--border-radius);
					height: 55px;
					width: 55px;
				}
			}

			&-content {
				display: flex;
				flex-direction: column;

				&-text {
					display: inline;
				}

				&-phone-number {
					height: auto;
					width: 100%;
					justify-content: flex-start;
					font-weight: var(--font-weight-bold);
					color: var(--color-black);

					#{$self}.color-context--dark & {
						color: var(--color-white);
					}

					span {
						display: inline;
					}

					svg {
						display: none;
					}
				}
			}

			&:hover {
				--lp-header-cta-bg-color: var(--lp-header-cta-bg-color-hover);
				--lp-header-cta-border-color: var(--lp-header-cta-bg-color-hover);
				text-decoration: none;
			}

			&:active {
				--lp-header-cta-bg-color: var(--lp-header-cta-bg-color-active);
				--lp-header-cta-border-color: var(--lp-header-cta-bg-color-active);

				span {
					color: var(--lp-header-cta-font-color-active);
				}
			}
		}
	}
}
