@import "../../scss";

.lp-header {
	$self: &;

	display: block;
	position: sticky;
	top: 0;
	z-index: var(--lp-header-z-index);
	box-shadow: var(--shadow-1);

	@include transition(#{"background-color, height"});

	&__wrap {
		max-width: var(--wrap-width);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--spacing-4) 0;
		margin: auto;

		@media screen and (max-width: 1120px) {
			margin: 0 var(--grid-col-gutter);
		}
	}

	&__logo {
		display: block;

		&--compact {
			display: none;
		}

		svg {
			height: 56px;
			width: auto;

			@media screen and (min-width: grid-size(sm)) {
				height: 80px;
			}
		}
	}

	&__cta {

		&-avatar {
			display: none;
		}

		&-content {

			&-text {
				display: none;
			}

			&-phone-number {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 42px;
				width: 42px;
				background-color: var(--color-black);
				border-radius: var(--border-radius);

				span {
					display: none;
				}

				svg {
					display: block;
				}
			}
		}

		@media screen and (min-width: grid-size(sm)) {
			display: flex;
			gap: var(--spacing-4);
			align-items: center;
			padding: var(--spacing-3);
			background-color: var(--color-gray-5);
			border-radius: var(--border-radius);
			text-decoration: none;
			cursor: pointer;

			&-avatar {
				display: block;
				margin-bottom: 0;

				img {
					border-radius: var(--border-radius);
					height: 55px;
					width: 55px;
				}
			}

			&-content {
				display: flex;
				flex-direction: column;

				&-text {
					display: block;
				}

				&-phone-number {
					height: auto;
					width: 100%;
					justify-content: flex-start;
					background-color: unset;
					font-weight: var(--font-weight-bold);

					span {
						display: inline;
					}

					svg {
						display: none;
					}
				}
			}

			&:hover {
				background-color: var(--color-gray-10);
				text-decoration: none;
			}

			&:active {
				background-color: var(--color-gray-90);

				span {
					color: var(--color-white);
				}
			}
		}
	}

	&--compact {
		background-color: var(--color-white);

		#{$self}__logo {
			display: none;

			&--compact {
				display: block;

				svg {
					height: 56px;
				}
			}
		}

		#{$self}__cta {
			gap: var(--spacing-2);
			padding: 6px;
			border-color: var(--color-gray-5);

			@include transition(#{"background-color, color, padding, height, width"});

			&-avatar img {
				height: 44px;
				width: 44px;
			}

			&-content {

				&-text,
				&-phone-number {
					font-size: 14px;
					line-height: calculate-em(24px);
				}
			}
		}
	}
}
