.thumbnail-cards {

	&__slides {
		display: flex;
		flex-wrap: wrap;
	}

	&__nav {
		margin-inline: auto;
	}

	&__card {
		background-color: var(--color-gray-30);
	}

	&__card--size-medium {
		max-width: 160px !important;
	}
}
