/**
 * Section.
 */

@import "../../scss";

.section {
	$self: &;
	position: relative;


	&__title,
	&__description {
		position: relative;
		text-align: center;
	}

	&__content-wrap {
		position: relative;
	}

	&__title {
		flex: 1;
		margin-bottom: 0;
	}

	&__heading {
		margin-bottom: var(--spacing-6);
		display: flex;
		gap: var(--spacing-5);
		align-items: end;

		+ #{$self}__description {
			margin-top: calc(-1 * var(--spacing-5));
		}

		@media screen and (min-width: grid-size(md)) {
			margin-bottom: var(--spacing-7);

			+ #{$self}__description {
				margin-top: calc(-1 * var(--spacing-5) - var(--spacing-2)); // 16px spacing from top.
			}
		}

		@media screen and (min-width: grid-size(xl)) {
			margin-bottom: var(--spacing-8);

			+ #{$self}__description {
				margin-top: calc(-1 * var(--spacing-6) - var(--spacing-2)); // 24px spacing from top.
			}
		}
	}

	@supports (selector(:has(*))) {

		&:has(&__title--left) {

			#{$self}__title,
			#{$self}__description {
				text-align: left;
			}

		}
	}

	&__description {
		margin-bottom: var(--spacing-6);

		@media screen and (min-width: grid-size(md)) {
			margin-bottom: var(--spacing-8);
		}
	}

	&--has-background {
		background-color: var(--color-gray-5);

		&-black {
			background-color: var(--color-black);

			#{$self}__heading,
			#{$self}__description {
				color: var(--color-white);
			}
		}

		& + &:not(&.section--seamless-with-padding) {
			padding-top: 0;
		}
	}

	.section {
		margin-top: var(--spacing-7);
		margin-bottom: var(--spacing-7);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	> .section {
		margin-top: var(--spacing-6);

		@media screen and (min-width: grid-size(md)) {
			margin-top: var(--spacing-7);
		}
	}

	&--narrow {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--narrow-wrap-width) !important;
	}

	&__cta-button {
		position: relative;
		text-align: center;
		margin-top: var(--spacing-6);

		.btn {
			min-width: 200px;
			padding-block: var(--spacing-4);

			@media screen and (max-width: grid-size(sm)) {
				width: 100%;
			}
		}

		@media screen and (min-width: grid-size(md)) {
			margin-top: var(--spacing-7);
		}
	}

	&__image-wrap {
		--section-gradient-color: transparent;
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			inset: 0;
		}
	}

	&__image-gradient-top {
		padding-top: var(--spacing-1);

		&::after {
			background-image: linear-gradient(var(--section-gradient-color), transparent 40%);
		}
	}

	&__image-gradient-bottom {
		padding-bottom: var(--spacing-1);

		&::after {
			background-image: linear-gradient(transparent 60%, var(--section-gradient-color));
		}
	}

	&__image-gradient-both {
		padding-block: var(--spacing-1);

		&::after {
			background-image: linear-gradient(var(--section-gradient-color), transparent 40%, transparent 60%, var(--section-gradient-color));
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
