/**
 * Section.
 */

@import "../../scss";

.section {
	$self: &;

	&__title {
		text-align: center;
	}

	&--has-background {
		background-color: var(--color-gray-5);
	}

	.section {
		margin-top: 0;
	}

	> .section {
		margin-top: var(--spacing-6);

		@media screen and (min-width: grid-size(md)) {
			margin-top: var(--spacing-7);
		}
	}

	&--narrow {
		max-width: var(--narrow-wrap-width) !important;
	}
}
