/**
 * Variables.
 */

:root {

	/**
	 * Typography.
	 */
	--font-family: "Nunito Sans", sans-serif;
	--heading-font-family: "Source Serif 4", serif;
	--font-weight-default: 400;
	--font-weight-light: 300;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-heading: 400;
	--font-size: 16px;
	--line-height: #{ calculate-em(28px, 16px) };
	--typography-spacing: 16px;

	// Headings.
	--h1-font-size: 36px;
	--h1-spacing: calc(var(--typography-spacing) / 2);
	--h1-line-height: 44px;
	--h2-font-size: 28px;
	--h2-spacing: var(--typography-spacing);
	--h2-line-height: 36px;
	--h3-font-size: 24px;
	--h3-spacing: var(--typography-spacing);
	--h3-line-height: 32px;
	--h4-font-size: 20px;
	--h4-line-height: 28px;
	--h4-spacing: var(--typography-spacing);
	--h5-font-size: 18px;
	--h5-line-height: 24px;
	--h5-spacing: var(--typography-spacing);

	@media screen and (min-width: grid-size(md)) {
		--h1-font-size: 48px;
		--h1-line-height: 60px;
		--h2-font-size: 32px;
		--h2-line-height: 40px;
		--h3-font-size: 28px;
		--h3-line-height: 36px;
		--h4-font-size: 22px;
		--h4-line-height: 30px;
		--h5-line-height: 26px;
	}

	@media screen and (min-width: grid-size(lg)) {
		--h1-font-size: 56px;
		--h1-line-height: 72px;
		--h2-font-size: 40px;
		--h2-line-height: 48px;
		--h3-font-size: 32px;
		--h3-line-height: 40px;
		--h4-font-size: 24px;
		--h4-line-height: 32px;
		--h5-font-size: 20px;
		--h5-line-height: 28px;
	}

	/**
	 * Colors and Borders.
	 */
	--border-small: 4px;
	--border-radius: 8px;
	--border-radius-large: 16px;

	@each $name, $color in $colors {
		--color-#{ $name }: #{ $color };
	}

	/**
	 * Elevation.
	 */
	--shadow-1: 0 1px 24px 0 rgba(0, 0, 0, 0.06);
	--shadow-2:
		0 4px 6px -2px rgba(0, 0, 0, 0.05),
		0 10px 15px -3px rgba(0, 0, 0, 0.1);
	--shadow-3: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
	--shadow-4: 0 2px 20px 0 rgba(0, 0, 0, 0.16);
	--shadow-5: 0 4px 40px 0 rgba(0, 0, 0, 0.16);

	/**
	 * Grid.
	 */
	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 24px;
	--spacing-6: 32px;
	--spacing-7: 48px;
	--spacing-8: 64px;
	--spacing-9: 96px;

	--wrap-width: 1120px;
	--narrow-wrap-width: 865px;
	--grid-section-gutter: var(--spacing-8);
	--grid-row-gutter: var(--spacing-5);
	--grid-col-gutter: var(--spacing-5);

	@media screen and (min-width: grid-size(lg)) {
		--grid-row-gutter: var(--spacing-6);
		--grid-col-gutter: var(--spacing-6);
		--grid-section-gutter: var(--spacing-9);
	}

	/**
	 * Forms.
	 */
	--buttons-border-radius: var(--border-radius);
	--forms-border-radius: var(--border-radius);
	--forms-border-color: var(--color-gray-20);
	--forms-field-spacing: var(--spacing-4);

	/**
	 * Images
	 */
	--border-radius-images: var(--border-radius);

	/**
	 * Transitions
	 */
	--ease-in-out-quart: cubic-bezier(0.87, 0, 0.13, 1);
	--ease-in-out-quad: cubic-bezier(0.42, 0, 0.58, 1);
	--transition-time: 0.3s;
	--transition-easing: var(--ease-in-out-quad);

	/**
	 * Misc.
	 */
	--wp-admin-bar-height: 0px; // stylelint-disable-line
	--lp-header-z-index: 10;
}
