/**
 * Variables.
 */

:root {

	/**
	 * Typography.
	 */
	--font-family: "Untitled Sans", sans-serif;
	--heading-font-family: "Domaine Display", serif;
	--font-weight-default: 400;
	--font-weight-light: 300;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-heading: 400;
	--font-size: 16px;
	--line-height: #{ calculate-em(28px, 16px) };
	--typography-spacing: 16px;

	// Headings.
	--h1-font-size: 36px;
	--h1-spacing: calc(var(--typography-spacing) / 2);
	--h1-line-height: 44px;
	--h2-font-size: 28px;
	--h2-spacing: var(--typography-spacing);
	--h2-line-height: 36px;
	--h3-font-size: 24px;
	--h3-spacing: var(--typography-spacing);
	--h3-line-height: 32px;
	--h4-font-size: 20px;
	--h4-line-height: 28px;
	--h4-spacing: var(--typography-spacing);
	--h5-font-size: 18px;
	--h5-line-height: 24px;
	--h5-spacing: var(--typography-spacing);

	@media screen and (min-width: grid-size(md)) {
		--h1-font-size: 48px;
		--h1-line-height: 60px;
		--h2-font-size: 32px;
		--h2-line-height: 40px;
		--h3-font-size: 28px;
		--h3-line-height: 36px;
		--h4-font-size: 22px;
		--h4-line-height: 30px;
	}

	@media screen and (min-width: grid-size(lg)) {
		--h1-font-size: 56px;
		--h1-line-height: 72px;
		--h2-font-size: 48px;
		--h2-line-height: 48px;
		--h3-font-size: 32px;
		--h3-line-height: 40px;
		--h4-font-size: 24px;
		--h4-line-height: 32px;
		--h5-font-size: 20px;
		--h5-line-height: 28px;
	}

	/**
	 * Colors and Borders.
	 */
	--border-radius: 8px;

	@each $name, $color in $colors {
		--color-#{ $name }: #{ $color };
	}

	/**
	 * Grid.
	 */
	--wrap-width: 1120px;
	--narrow-wrap-width: 640px;
	--grid-section-gutter: #{ calculate-rem(64px) };
	--grid-row-gutter: #{ calculate-rem(24px) };
	--grid-col-gutter: #{ calculate-rem(24px) };

	@media screen and (min-width: grid-size(lg)) {
		--grid-row-gutter: #{ calculate-rem(32px) };
		--grid-col-gutter: #{ calculate-rem(32px) };
		--grid-section-gutter: #{ calculate-rem(96px) };
	}

	/**
	 * Elevation.
	 */
	--shadow-1: 0 4px 40px 0 rgba(0, 0, 0, 0.16);

	/**
	 * Forms.
	 */
	--forms-border-radius: var(--border-radius);

	/**
	 * Misc.
	 */
	--wp-admin-bar-height: 0px; // stylelint-disable-line
}
