/**
 * Form Fields.
 */

button {
	border: 0;
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	outline: 0;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="search"] {
	/* stylelint-disable-next-line function-url-quotes */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17'%3E%3Cpath fill='%239C9CA0' fill-rule='evenodd' d='M14.86 6.03a4.689 4.689 0 0 1-5.37 5.37C7.516 11.1 5.9 9.485 5.6 7.51a4.689 4.689 0 0 1 5.37-5.37c1.975.3 3.59 1.915 3.89 3.89ZM.97 16.848a.521.521 0 0 0 .736 0l4.59-4.582a6.752 6.752 0 0 0 5.091 1.176c2.898-.484 5.206-2.903 5.562-5.82a6.774 6.774 0 0 0-7.57-7.57c-2.916.356-5.336 2.664-5.82 5.562a6.752 6.752 0 0 0 1.176 5.091l-4.582 4.59a.521.521 0 0 0 0 .736'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right 10px;
	background-size: 15px;
	padding-right: 20px;

	&:focus {
		/* stylelint-disable-next-line function-url-quotes */
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17'%3E%3Cpath fill='%23515154' fill-rule='evenodd' d='M14.86 6.03a4.689 4.689 0 0 1-5.37 5.37C7.516 11.1 5.9 9.485 5.6 7.51a4.689 4.689 0 0 1 5.37-5.37c1.975.3 3.59 1.915 3.89 3.89ZM.97 16.848a.521.521 0 0 0 .736 0l4.59-4.582a6.752 6.752 0 0 0 5.091 1.176c2.898-.484 5.206-2.903 5.562-5.82a6.774 6.774 0 0 0-7.57-7.57c-2.916.356-5.336 2.664-5.82 5.562a6.752 6.752 0 0 0 1.176 5.091l-4.582 4.59a.521.521 0 0 0 0 .736'/%3E%3C/svg%3E");
	}

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="password"],
select,
textarea {
	background-color: var(--color-white);
	font-family: var(--font-family);
	font-weight: var(--font-weight-default);
	font-size: 15px;
	color: var(--color-black);
	line-height: 1.6;
	border-radius: var(--forms-border-radius);
	padding: 9px 10px;
	outline: none;
	border: 2px solid var(--forms-border-color);
	width: 100%;

	@include transition(border);
	@include placeholder-color(var(--color-gray-50));

	&:disabled,
	&.disabled,
	*[inert] & {
		background-color: var(--color-gray-20);
		color: var(--color-black);
	}

	&:hover {
		border-color: var(--color-yellow);
	}

	&:focus {
		border-color: var(--color-black);
	}

	tp-form-field[error] & {
		border-color: var(--color-error-50);
	}
}

tp-form-error {
	color: var(--color-error-50);
	font-size: 14px;
	margin-top: var(--spacing-1);
}

textarea {
	resize: none;
	vertical-align: top; // Fixes extra space under textarea, that differs across browsers.
	margin: 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* stylelint-disable-next-line function-url-quotes */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.41 8.2998L12 12.8798L16.59 8.2998L18 9.7098L12 15.7098L6 9.7098L7.41 8.2998Z' fill='%23232933'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right 10px;
	padding-right: 30px;
	background-size: 24px;
	opacity: 1;
	text-overflow: ellipsis;
	color: var(--color-black);
}

label {
	display: block;
	margin-bottom: var(--spacing-1);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: calculate-em(22px, 14px);
}

.form-field {
	margin-bottom: var(--forms-field-spacing);
	display: block;
	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	&--buttons {
		margin-top: var(--spacing-6);
	}
}

.form-row {
	display: grid;
	gap: var(--spacing-4);
	margin-bottom: var(--spacing-4);
	grid-template-columns: repeat(1, 1fr);
	min-width: 0;

	.form-field {
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: grid-size(sm)) {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}

.grecaptcha-badge {
	visibility: hidden;
}
