/**
 * Form Fields.
 */

@import "../scss/";

button {
	border: 0;
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	outline: 0;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

input[type="search"] {
	/* stylelint-disable-next-line function-url-quotes */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17'%3E%3Cpath fill='%239C9CA0' fill-rule='evenodd' d='M14.86 6.03a4.689 4.689 0 0 1-5.37 5.37C7.516 11.1 5.9 9.485 5.6 7.51a4.689 4.689 0 0 1 5.37-5.37c1.975.3 3.59 1.915 3.89 3.89ZM.97 16.848a.521.521 0 0 0 .736 0l4.59-4.582a6.752 6.752 0 0 0 5.091 1.176c2.898-.484 5.206-2.903 5.562-5.82a6.774 6.774 0 0 0-7.57-7.57c-2.916.356-5.336 2.664-5.82 5.562a6.752 6.752 0 0 0 1.176 5.091l-4.582 4.59a.521.521 0 0 0 0 .736'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right 10px;
	background-size: 15px;
	padding-right: 20px;

	&:focus {
		/* stylelint-disable-next-line function-url-quotes */
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17'%3E%3Cpath fill='%23515154' fill-rule='evenodd' d='M14.86 6.03a4.689 4.689 0 0 1-5.37 5.37C7.516 11.1 5.9 9.485 5.6 7.51a4.689 4.689 0 0 1 5.37-5.37c1.975.3 3.59 1.915 3.89 3.89ZM.97 16.848a.521.521 0 0 0 .736 0l4.59-4.582a6.752 6.752 0 0 0 5.091 1.176c2.898-.484 5.206-2.903 5.562-5.82a6.774 6.774 0 0 0-7.57-7.57c-2.916.356-5.336 2.664-5.82 5.562a6.752 6.752 0 0 0 1.176 5.091l-4.582 4.59a.521.521 0 0 0 0 .736'/%3E%3C/svg%3E");
	}

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
select:not(.form__inline-dropdown),
textarea,
tp-multi-select-field {
	background-color: var(--color-white);
	border-radius: var(--forms-border-radius);
	padding: 9px 10px;
	outline: none;
	border: 2px solid var(--forms-border-color);
	width: 100%;

	@include transition(border);
	@include placeholder-color(var(--color-gray-50));

	&:disabled,
	&.disabled,
	*[inert] & {
		background-color: var(--color-gray-20);
	}

	&:hover {
		border-color: var(--color-yellow);
	}

	&:focus {
		border-color: var(--color-black);
	}

	tp-form-field[error] &:not(input[type="radio"], input[type="checkbox"]) {
		border-color: var(--color-error-50);
	}
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="password"],
select,
textarea,
tp-multi-select-field {
	font-family: var(--font-family);
	font-weight: var(--font-weight-default);
	font-size: 15px;
	color: var(--color-black);
	line-height: 1.6;

	&:disabled,
	&.disabled,
	*[inert] & {
		color: var(--color-black);
	}
}

input[type="checkbox"],
input[type="radio"] {
	flex-shrink: 0;
}

tp-form-error {
	display: none;
}

textarea {
	resize: none;
	vertical-align: top; // Fixes extra space under textarea, that differs across browsers.
	margin: 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* stylelint-disable-next-line function-url-quotes */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.41 8.2998L12 12.8798L16.59 8.2998L18 9.7098L12 15.7098L6 9.7098L7.41 8.2998Z' fill='%23232933'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center right 10px;
	padding-right: 30px;
	background-size: 24px;
	opacity: 1;
	text-overflow: ellipsis;
	color: var(--color-black);
}

input[type="file"] {
	display: none;
}

.quark-file-input {
	$self: &;

	display: block;
	width: fit-content;

	label {
		font-size: var(--font-size);
		font-weight: var(--font-weight-bold);
		line-height: var(--line-height);
	}

	&[file_selected="yes"] {

		#{$self}__preview {
			display: flex;
			overflow: hidden;
		}

		#{$self}__btn {
			display: none;
		}
	}

	&__btn {
		display: block;
	}

	&__preview {
		display: none;
	}

	&__mime-type {
		padding-inline: var(--spacing-4);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--color-error-50);
		color: var(--color-white);
		text-transform: uppercase;
		border: 1px solid var(--color-error-50);
		border-left: none;
		border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
	}

	&__preview-body {
		padding-block: var(--spacing-3);
		padding-inline: var(--spacing-4);
		display: flex;
		justify-content: space-between;
		gap: var(--spacing-4);
		border: 1px solid var(--color-gray-20);
		border-left: none;
		border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
	}

	&__file-info {

		> * {
			margin: 0;
		}
	}

	&__file-size {
		font-weight: var(--font-weight-default);
		color: var(--color-gray-70);

		.color-context--dark & {
			color: var(--color-white);
		}
	}

	.color-context--dark &__discard {
		color: var(--color-white);
	}
}

input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	padding: 0;
}

input[type="checkbox"]:checked {
	background-color: var(--color-yellow);
	position: relative;
	border-color: var(--color-yellow);

	&::before {
		content: "";
		/* stylelint-disable-next-line function-url-quotes */
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='9' viewBox='0 0 13 9'%3E%3Cpolygon fill='%23232933' points='4.243 8.485 11.313 1.414 9.899 0 4.243 5.657 1.414 2.828 0 4.242' transform='translate(.76 .515)'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		inset: 0;
	}
}

input[type="radio"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	padding: 0;
}

input[type="radio"]:checked {
	background-color: var(--color-yellow);
	position: relative;
	border-color: var(--color-yellow);

	&::before {
		content: "";
		/* stylelint-disable-next-line function-url-quotes */
		background-color: var(--color-black);
		height: 10px;
		width: 10px;
		border-radius: 50%;
		position: absolute;
		inset: 50% auto auto 50%;
		transform: translate(-50%, -50%);
	}
}

.checkbox-container,
.radio-container {
	display: flex;
	gap: var(--spacing-2);
	align-items: center;

	> label {
		margin: 0;
		height: fit-content;
	}
}

label {
	display: block;
	margin-bottom: var(--spacing-1);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: calculate-em(22px, 14px);

	&:has(+ input[type="file"]) {

		.btn {
			width: 100%;
		}
	}

	&:has(+.form__inline-dropdown) {
		font-size: 1em;
		font-weight: var(--font-weight-default);
		display: inline-block;

		&::after {
			content: ": ";
		}
	}
}

.form-field {
	margin-bottom: var(--forms-field-spacing);
	display: block;
	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}

	&--buttons {
		margin-top: var(--spacing-6);
	}

	&:has(>.form__inline-dropdown) {
		white-space: nowrap;
	}
}

.form-field-group {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
	margin-bottom: var(--forms-field-spacing);
	width: 100%;

	label {
		font-size: var(--font-size);
		line-height: var(--line-height);
	}

	&:last-child {
		margin-bottom: 0;
	}

	> label {
		margin-bottom: 0;
		font-weight: var(--font-weight-bold);
		order: 1;
	}

	&__group {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-column-gap: var(--spacing-6);
		grid-row-gap: var(--spacing-2);
		order: 3;

		.form__required-indicator {
			display: none;
		}
	}

	tp-form-error {
		order: 2;
		display: block;
		color: var(--color-error-100);
		font-weight: var(--font-weight-bold);
		margin-top: calc(-1 * var(--spacing-4));
	}
}

.form-row {
	display: grid;
	gap: var(--spacing-4);
	margin-bottom: var(--spacing-4);
	grid-template-columns: repeat(1, 1fr);
	min-width: 0;

	.form-field {
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: grid-size(sm)) {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

tp-multi-select {
	$self: &;
	color: var(--color-black);

	&-field {
		padding: var(--spacing-3);
		background-color: var(--color-white);
		/* stylelint-disable-next-line function-url-quotes */
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M7.41 8.2998L12 12.8798L16.59 8.2998L18 9.7098L12 15.7098L6 9.7098L7.41 8.2998Z' fill='%23232933'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center right 10px;
		background-size: 24px;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 52px;
	}

	&.form__inline-dropdown {
		display: inline-block;

		#{$self}-field {
			padding-block: 0;
			border: none;
			outline: none;
			font-size: 1em;
			font-weight: var(--font-weight-bold);
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" fill="none"><path d="M1.41 0.299805L6 4.8798L10.59 0.299805L12 1.7098L6 7.7098L0 1.7098L1.41 0.299805Z" fill="%23868FA3"/></svg>');
			background-repeat: no-repeat;
			background-size: auto;
		}

		#{$self}-options {
			background-color: var(--color-white);
			border: 1px solid var(--color-gray-20);
			box-shadow: var(--shadow-3);
		}

		#{$self}-option {
			margin-inline: var(--spacing-1);

			&:hover {
				background-color: var(--color-gray-10);
				color: var(--color-black);

				&[selected="yes"]::before {
					/* stylelint-disable-next-line function-url-quotes */
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='9' viewBox='0 0 13 9'%3E%3Cpolygon fill='%23232933' points='4.243 8.485 11.313 1.414 9.899 0 4.243 5.657 1.414 2.828 0 4.242' transform='translate(.76 .515)'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}

	&-option {
		margin-bottom: var(--spacing-1);
		position: relative;
		padding: var(--spacing-2);
		padding-left: var(--spacing-5);

		&[selected="yes"]::before {
			content: "";
			display: block;
			position: absolute;
			inset: 50% auto auto var(--spacing-1);
			height: 15px;
			width: 15px;
			transform: translateY(-50%);
			/* stylelint-disable-next-line function-url-quotes */
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='9' viewBox='0 0 13 9'%3E%3Cpolygon fill='%23232933' points='4.243 8.485 11.313 1.414 9.899 0 4.243 5.657 1.414 2.828 0 4.242' transform='translate(.76 .515)'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center left;
		}

		&:hover {
			background-color: var(--color-blue);
			color: var(--color-white);
			border-radius: var(--border-radius);

			&[selected="yes"]::before {
				/* stylelint-disable-next-line function-url-quotes */
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='9' viewBox='0 0 13 9'%3E%3Cpolygon fill='%23FFF' points='4.243 8.485 11.313 1.414 9.899 0 4.243 5.657 1.414 2.828 0 4.242' transform='translate(.76 .515)'/%3E%3C/svg%3E%0A");
			}
		}
	}

	&-options {
		border-radius: var(--border-radius);
		background-color: var(--color-gray-10);
		padding-block: var(--spacing-3);
		padding-inline: var(--spacing-1);
		overflow: hidden;
		min-width: max-content;

		> div {
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 200px;
		}
	}

	&-placeholder {
		color: var(--color-gray-50);
	}

	&-status {
		margin-right: var(--spacing-4);

		@include line-clamp(1);
	}
}
