/**
 * Normalize / CSS Resets.
 */

@import "~normalize.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html.dom-content-loaded,
html.dom-content-loaded body {
	scroll-behavior: smooth;
	scroll-padding-top: var(--scroll-padding-top);
}
