/**
 * Normalize / CSS Resets.
 */

@import "~normalize.css";

html,
body {
	height: 100%; // Setting height along with overflow-x: hidden as it affects sticky elements.
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--header-height) + var(--spacing-5));
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html.dom-content-loaded,
html.dom-content-loaded body {
	scroll-behavior: smooth;
	scroll-padding-top: calc(var(--header-height) + var(--spacing-5));
}
