@use "sass:list";

// Grid.
%section {
	margin-top: var(--grid-section-gutter);
	margin-bottom: var(--grid-section-gutter);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	> * {

		@extend %wrap;
	}
}

%section--seamless-with-padding {
	padding-top: var(--grid-section-gutter);
	padding-bottom: var(--grid-section-gutter);
}

%section--seamless,
%section--seamless-with-padding {

	$self: &;

	& + & {
		margin-top: calc(var(--grid-section-gutter) * -1);
	}

	.wp-block-post-content > &:last-child {
		margin-bottom: calc(var(--grid-section-gutter) * -1);
	}

	#{$self} + .block-library-block__reusable-block-container:has(> &) {
		margin-top: calc(var(--grid-section-gutter) * -1);
	}
}

%section--narrow {

	> * {
		max-width: var(--narrow-wrap-width);
	}
}

%main {
	padding-left: var(--grid-col-gutter);
	padding-right: var(--grid-col-gutter);

	> * {

		@extend %wrap;
	}

	.full-width,
	.alignfull {

		@extend %full-width;
	}
}

%wrap {
	max-width: var(--wrap-width);
	margin-left: auto;
	margin-right: auto;
}

%full-width {

	@if ( false == $is-editor ) {
		// Front-end.
		margin-left: calc(-50vw + 50%);
		margin-right: calc(-50vw + 50%);
		max-width: 100vw;
	} @else {
		// Editor.
		max-width: none !important;

		// WordPress FSE compatibility.
		.wp-site-blocks > & {
			margin-left: calc(-1 * var(--grid-col-gutter));
			margin-right: calc(-1 * var(--grid-col-gutter));
		}
	}
}

// Buttons.
%btn {
	border: 1px solid var(--color-yellow);
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	padding: 8px 16px;
	color: var(--color-black);
	background-color: var(--color-yellow);
	border-radius: var(--buttons-border-radius);
	text-decoration: none !important;
	display: inline-block;

	&:hover {
		background-color: transparent;
	}

	&:active {
		background-color: var(--color-attention-50);
	}

	&--outline:hover,
	&--color-black:not(:hover) {
		border-color: var(--color-black);
		background-color: var(--color-black);
		color: var(--color-white);

		> span.btn__icon-spinner {

			svg > path {
				fill: var(--color-white);
			}
		}
	}

	&--outline:not(:hover),
	&--color-black:hover {
		background-color: transparent;
		color: var(--color-black);
		border-color: var(--color-black);
	}

	&--outline:active,
	&--color-black:active {
		background-color: var(--color-gray-80);
		color: var(--color-white);
	}

	&--size-big {
		padding-top: 13px;
		padding-bottom: 13px;
		font-size: var(--font-size);
		line-height: var(--line-height);
	}

	&--media {
		height: 56px;
		width: 56px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		background-color: var(--color-black);
		border: none;
		color: var(--color-white);

		&:hover {
			background-color: var(--color-gray-80);
		}

		&:active {
			background-color: var(--color-black);
		}

		svg {
			max-width: 18px;
		}
	}

	&--loading {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-2);

		&::after {
			content: "";
			position: relative;
			width: var(--font-size);
			height: var(--font-size);
			border: 2px solid;
			border-radius: 100%;
			border-left: 2px solid transparent;
			animation: spin 1s linear infinite;
		}
	}

	.section--has-background-black &,
	.color-context--dark & {

		&:hover {
			background-color: var(--color-white);
		}

		&:active {
			background-color: var(--color-attention-50);
		}

		&--media:hover {
			background-color: var(--color-gray-80);
		}

		&--media:active {
			background-color: var(--color-black);
		}

		&--color-black:not(:hover),
		&--outline:hover {
			background-color: var(--color-white);
			color: var(--color-black);

			> span.btn__icon-spinner {

				svg > path {
					fill: var(--color-black);
				}
			}
		}

		&--color-black:hover,
		&--outline:not(:hover) {
			background-color: var(--color-black);
			border-color: var(--color-white);
			color: var(--color-white);

			> span.btn__icon-spinner {

				svg > path {
					fill: var(--color-white);
				}
			}
		}

		&--outline:active,
		&--color-black:active {
			background-color: var(--color-gray-80);
			border-color: var(--color-white);
			color: var(--color-white);
		}
	}
}

// Typography.
%h1,
%h2,
%h3,
%h4,
%h5 {
	margin-top: 0;
	line-height: var(--heading-line-height);
	font-weight: var(--font-weight-default);
	font-family: var(--heading-font-family);

	&:last-child {
		margin-bottom: 0;
	}
}

%h1 {
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
	margin-bottom: var(--h1-spacing);
}

%h2 {
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
	margin-bottom: var(--h2-spacing);
}

%h3 {
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);
	margin-bottom: var(--h3-spacing);
}

%h4,
%h5 {
	font-family: var(--font-family);
}

%h4 {
	font-size: var(--h4-font-size);
	line-height: var(--h4-line-height);
	margin-bottom: var(--h4-spacing);
	font-weight: var(--font-weight-bold);
}

%h5 {
	font-size: var(--h5-font-size);
	line-height: var(--h5-line-height);
	margin-bottom: var(--h5-spacing);
	font-weight: var(--font-weight-bold);
}

%typography-spacing {
	margin-bottom: var(--typography-spacing);

	&:last-child {
		margin-bottom: 0;
	}
}

%body-small {
	font-size: 14px;
	line-height: 22px;
}

%overline {
	letter-spacing: 2px;
	text-transform: uppercase;

	@extend %body-small;
}

%caption {
	font-style: italic;

	@extend %body-small;
	font-weight: var(--font-weight-default);
}
