@use "sass:list";

// Grid.
%section {
	margin-top: var(--grid-section-gutter);
	margin-bottom: var(--grid-section-gutter);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	> * {

		@extend %wrap;
	}
}

%section--seamless,
%section--seamless-with-padding {

	$self: &;

	& + &,
	.main > &:first-child {
		margin-top: calc(var(--grid-section-gutter) * -1);
	}

	.main > &:last-child {
		margin-bottom: calc(var(--grid-section-gutter) * -1);
	}

	#{$self} + .block-library-block__reusable-block-container:has(> &) {
		margin-top: calc(var(--grid-section-gutter) * -1);
	}
}

%section--narrow {

	> * {
		max-width: var(--narrow-wrap-width);
	}
}

%wrap {
	max-width: var(--wrap-width);
	margin-left: auto;
	margin-right: auto;
}

%full-width {

	@if ( false == $is-editor ) {
		max-width: none;
	} @else {
		max-width: none !important;
	}
}

// Buttons.
%btn {
	border: 0;
}

// Typography.
%h1,
%h2,
%h3,
%h4,
%h5 {
	margin-top: 0;
	line-height: var(--heading-line-height);
	font-weight: var(--font-weight-default);
	font-family: var(--heading-font-family);

	&:last-child {
		margin-bottom: 0;
	}
}

%h1 {
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
	margin-bottom: var(--h1-spacing);
}

%h2 {
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
	margin-bottom: var(--h2-spacing);
}

%h3 {
	font-size: var(--h3-font-size);
	line-height: var(--h3-line-height);
	margin-bottom: var(--h3-spacing);
}

%h4 {
	font-size: var(--h4-font-size);
	line-height: var(--h4-line-height);
	margin-bottom: var(--h4-spacing);
}

%h5 {
	font-size: var(--h5-font-size);
	line-height: var(--h5-line-height);
	margin-bottom: var(--h5-spacing);
}

%typography-spacing {
	margin-bottom: var(--typography-spacing);

	&:last-child {
		margin-bottom: 0;
	}
}

%body-small {
	font-size: 14px;
	font-weight: var(--font-weight-bold);
	line-height: 22px;
}

%overline {
	letter-spacing: 2px;
	text-transform: uppercase;

	@extend %body-small;
}

%caption {
	font-style: italic;

	@extend %body-small;
}
