/**
 * Typography.
 */

body {
	color: var(--color-black);
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-weight: var(--font-weight-default);
	overflow-x: hidden;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: underline;
	color: currentcolor;
	text-decoration-color: currentcolor;
	text-underline-offset: 0.3em;

	&:hover {
		text-decoration: underline;
		text-decoration-color: var(--color-yellow);
	}
}

@for $i from 1 through 5 {

	h#{ $i },
	.is-style-h#{ $i },
	.h#{ $i } {

		@extend %h#{ $i };
	}
}

p,
ul,
ol,
dl,
figure,
blockquote {
	margin-top: 0;
	margin-bottom: var(--typography-spacing);

	&:last-child {
		margin-bottom: 0;
	}
}

figure {
	margin-left: 0;
	margin-right: 0;
}

figcaption {
	margin-top: 0.8em;

	@extend %caption;
}

ul {
	padding-left: 1em;
}

ol {
	padding-left: 1em;
}

strong {
	font-weight: var(--font-weight-bold);
}

dt {
	color: var(--color-gray-70);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
}

dd {
	font-weight: var(--font-weight-bold);
	margin-left: 0;
	margin-bottom: var(--spacing-6);

	&:last-child {
		margin-bottom: 0;
	}
}

// Legacy IFRAME support (fallback).
p > iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
	display: block;
}

.typography-spacing {

	@extend %typography-spacing;
}

.body-small {

	@extend %body-small;

}

.overline {

	@extend %overline;
}

.color-context--dark {
	color: var(--color-white);

	input,
	textarea,
	select {
		color: var(--color-black);
	}
}

.caption {

	@extend %caption;
}

.is-style-h1 {

	@extend %h1;
}

.is-style-h2 {

	@extend %h2;
}

.is-style-h3 {

	@extend %h3;
}

.is-style-h4 {

	@extend %h4;
}

.is-style-h5 {

	@extend %h5;
}

.is-style-template-title {

	@extend %h1;

	margin-top: var(--spacing-8);
	margin-bottom: var(--spacing-8);

	@media screen and (min-width: grid-size(xl)) {
		margin-top: var(--spacing-9);
		margin-bottom: var(--spacing-9);
	}
}

.font-family--promo {
	font-family: var(--promo-font-family);
}
