/**
 * WordPress Styles.
 */

@import "../scss";

@each $name, $color in $colors {

	.has-#{ $name }-background-color {
		background-color: $color;
	}

	.has-color-#{ $name } {
		color: $color;
	}
}

.wp-block-button {

	&__link {

		@extend %btn;
	}

	.is-style-outline &__link {

		@extend %btn--outline;
	}

	&.wp-block-button__width-25 {
		width: calc(25% - var(--button-spacing));
	}

	&.wp-block-button__width-50 {
		width: calc(50% - var(--button-spacing));
	}

	&.wp-block-button__width-75 {
		width: calc(75% - var(--button-spacing));
	}

	&.wp-block-button__width-100 {
		width: 100%;
	}
}

.wp-block-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: var(--button-spacing);

	@extend %typography-spacing;

	&.aligncenter {
		text-align: center;
	}

	&.alignleft {
		text-align: left;
	}

	&.alignright {
		text-align: right;
	}
}

.wp-block-embed {

	@extend %typography-spacing;
}

.wp-block-embed iframe {
	max-width: 100%;
}

.wp-block-embed__wrapper {
	position: relative;
}

.wp-embed-responsive .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
	content: "";
	display: block;
	padding-top: 50%;
}

.wp-embed-responsive .wp-has-aspect-ratio iframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.wp-embed-responsive .wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
	padding-top: 42.85%;
}

.wp-embed-responsive .wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
	padding-top: 50%;
}

.wp-embed-responsive .wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
	padding-top: 56.25%;
}

.wp-embed-responsive .wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
	padding-top: 75%;
}

.wp-embed-responsive .wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
	padding-top: 100%;
}

.wp-embed-responsive .wp-embed-aspect-9-16 .wp-block-embed__wrapper::before {
	padding-top: 177.77%;
}

.wp-embed-responsive .wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
	padding-top: 200%;
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-right {
	text-align: right;
}

.alignfull {
	max-width: none;
}

.wp-block-image {
	margin: var(--spacing-5) auto;

	&:first-child {
		margin-top: 0;
	}

	img {
		width: 100%;
		border-radius: var(--border-radius-large);
		height: auto;
	}

	&.alignfull img {
		border-radius: 0;
		max-height: 600px;
		object-fit: cover;
	}
}

.wp-block-columns {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	align-items: initial;
	gap: var(--grid-col-gutter);
	margin-top: var(--grid-section-gutter);
	margin-bottom: var(--grid-section-gutter);

	@media screen and (min-width: grid-size(md)) {
		flex-wrap: nowrap;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}

	&.is-not-stacked-on-mobile {
		flex-wrap: nowrap;

		> .wp-block-column {
			flex-basis: 0;
			flex-grow: 1;

			&[style*="flex-basis"] {
				flex-grow: 0;
			}
		}
	}

	&:not(.is-not-stacked-on-mobile) {

		> .wp-block-column {

			@media screen and (max-width: calc(grid-size(md) - 1px)) {
				flex-basis: 100% !important;
			}

			@media screen and (min-width: grid-size(md)) {
				flex-basis: 0;
				flex-grow: 1;
			}
		}
	}
}

.wp-block-column {
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;

	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}

	&.is-vertically-aligned-top,
	&.is-vertically-aligned-center,
	&.is-vertically-aligned-bottom {
		width: 100%;
	}
}

// Table.
table {
	min-width: 100%;
	border-collapse: collapse;
	width: 100%;

	@media screen and (min-width: grid-size(lg)) {
		table-layout: fixed;
	}

	td {
		border: 1px solid var(--color-gray-20);
		padding: 1em;
	}

	th {
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
		border: 1px solid var(--color-gray-20);
		padding: 1em;
		text-align: left;
		text-transform: uppercase;
	}

	thead {
		background-color: var(--color-gray-10);
		border-bottom: 1px solid var(--color-gray-20);
		font-size: var(--font-size-small);
		font-weight: var(--font-weight-bold);
		line-height: var(--line-height-small);
		text-transform: uppercase;
	}

	tfoot {
		border-top: 1px solid var(--color-gray-20);
	}
}

.travelopia-table {
	margin-top: var(--typography-spacing);
	margin-bottom: var(--typography-spacing);
	overflow-x: auto;

	@media screen and (min-width: grid-size(xl)) {
		overflow-x: visible;
	}

	// Set min-width to cap the responsiveness.
	td::before {
		content: "";
		display: block;
		width: 180px;
	}
}

.are-vertically-aligned-center {
	align-items: center;
}

.are-vertically-aligned-bottom {
	align-items: flex-end;
}

.quark-block--display-flex {
	display: flex;
}

.quark-block--justify-content {

	&-center {
		justify-content: center;
	}

	&-left {
		justify-content: start;
	}

	&-right {
		justify-content: flex-end;
	}
}

.quark-block--vertical-alignment {

	&-top {
		align-items: start;
	}

	&-middle {
		align-items: center;
	}

	&-bottom {
		align-items: flex-end;
	}
}

.quark-block--orientation {

	&-vertical {
		flex-direction: column;

		&.quark-block--justify-content-center {
			align-items: center;
		}

		&.quark-block--justify-content-right {
			align-items: flex-end;
		}

		.wp-block-button:not(.has-custom-width) {
			width: max-content;
		}
	}
}

.has-white-color {
	color: var(--color-white);
}

.wp-block-post-title {
	margin-bottom: var(--spacing-6);

	@media screen and (min-width: grid-size(md)) {
		margin-bottom: var(--spacing-7);
	}

	@media screen and (min-width: grid-size(xl)) {
		margin-bottom: var(--spacing-8);
	}

	.template-title + & {
		margin-bottom: var(--spacing-4);

		@media screen and (min-width: grid-size(lg)) {
			margin-bottom: var(--spacing-5);
		}
	}
}

// WordPress annoyingly adds .wp-block-template-part as a wrapper for all
// template parts. Display its contents to avoid styling issues
// like sticky positioning, etc.
@if ( $is-editor != true ) {

	.wp-site-blocks .wp-block-template-part {
		display: contents;
	}
}

// Increase the iframe container height in full site editor.
@if ( $is-editor == true ) {

	body.block-editor-iframe__body {
		min-height: 800px;
	}
}
