/**
 * Custom Editor CSS.
 *
 * Add CSS here related to the block editor, but outside
 * the editor wrapper scope.
 */

@import "../front-end/scss";
@import "../front-end/global/placeholders";

/**
 * Custom Blocks CSS.
 */
@import "./blocks/hero-details-card-slider/custom";

.editor-post-title__input {
	font-family: var(--heading-font-family);
	margin-bottom: 1rem !important;
}

.wp-block {
	max-width: var(--wrap-width);
	margin-left: 0;
	margin-right: 0;
}

.is-root-container > .wp-block-template-part {
	max-width: none;

	@extend %full-width;
}

.is-root-container > .wp-block:not(.wp-block-quark-search-hero) {
	margin-left: auto;
	margin-right: auto;
	margin-block: var(--grid-section-gutter);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.block-library-block__reusable-block-container:has(> .full-width),
.full-width {
	max-width: none !important;
}

.section--narrow {
	max-width: var(--narrow-wrap-width) !important;
}

.wp-block.is-reusable {

	&:has(> .section) {

		@extend %section;

		&::before {
			display: none !important;
		}
	}
}

.quark-url-control .components-base-control__field input {
	width: 100%;
	border: 1px solid #e0e0e0;
}

.block-list-appender {
	height: fit-content;
}

.block-editor-button-block-appender {
	background-color: var(--color-gray-30);
}

.media-cta-banner__media-wrap {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

.media-cta-banner__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
