/**
 * Custom Editor CSS.
 *
 * Add CSS here related to the block editor, but outside
 * the editor wrapper scope.
 */

@import "../front-end/scss";
@import "../front-end/global/placeholders";

.editor-styles-wrapper {
	padding-left: var(--grid-col-gutter);
	padding-right: var(--grid-col-gutter);
}

.editor-post-title__input {
	font-family: var(--font-family-display);
	margin-bottom: 1rem !important;
}

.wp-block {
	max-width: var(--wrap-width);
	margin-left: 0;
	margin-right: 0;
}

.block-library-block__reusable-block-container:has(> .full-width),
.full-width {
	max-width: none !important;
}

.section--narrow {
	max-width: var(--narrow-wrap-width) !important;
}

.wp-block.is-reusable {

	&:has(> .section) {

		@extend %section;

		&::before {
			display: none !important;
		}
	}
}

.quark-url-control .components-base-control__field input {
	width: 100%;
	border: 1px solid #e0e0e0;
}

.block-list-appender {
	position: relative;
	height: fit-content;
}

.block-editor-button-block-appender {
	background-color: var(--color-gray-30);
}
