.media-text-cta {

	&__media-wrap {
		aspect-ratio: calc(540 / 360);
		background-color: var(--color-gray-30);
	}

	&__media-wrap.square {
		aspect-ratio: 1 / 1;
	}

	.fancy-video {
		height: 100%;

		&__play-btn-wrapper {
			position: absolute;
			inset: 0;
		}
	}
}
