/**
 * Footer.
 */
@import "../../scss";

.footer {
	background-color: var(--color-gray-90);
	color: var(--color-white);
	padding-top: var(--grid-section-gutter);
	padding-bottom: var(--grid-section-gutter);

	&__wrap {
		padding-left: var(--grid-col-gutter);
		padding-right: var(--grid-col-gutter);

		> * + * {
			border-top: 1px solid var(--color-gray-900);
			margin-top: 40px;
			padding-top: 40px;
			position: relative;

			@media screen and (min-width: grid-size(lg)) {
				margin-top: var(--grid-section-gutter);
				padding-top: var(--grid-section-gutter);
			}
		}
	}

	// Footer Links.
	a {
		color: var(--color-white);
		text-decoration: none;

		&:hover {
			color: var(--color-gray-600);
		}
	}


	&__nav {
		padding-top: 0;

		+ * {
			margin-top: 0;
		}
	}

	&__nav-menu {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		list-style: none;
		padding: 40px 0;
		text-align: center;
		margin: 0 auto;
		max-width: 1200px;

		@media screen and (min-width: grid-size(lg)) {
			padding: 20px 0;
			flex-flow: row wrap;
		}

		> li + li {
			margin-top: 20px;

			@media screen and (min-width: grid-size(lg)) {
				margin-left: 20px;
				margin-top: 0;
			}
		}
	}

	&__copyright {
		color: var(--color-gray-700);
		text-align: center;
	}

	&__copyright-content {
		margin: 0 auto;
		max-width: 460px;
	}
}
