/**
 * Footer.
 */
@import "../../scss";

.footer {
	background-color: var(--color-gray-90);
	color: var(--color-white);
	padding: var(--spacing-7) var(--grid-col-gutter);

	&__wrap {
		max-width: var(--wrap-width);
		margin: 0 auto;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--grid-row-gutter);
		text-align: center;
	}

	&__middle {
		border-top: 1px solid var(--color-gray-50);
		margin-top: var(--spacing-7);
		padding-top: var(--spacing-7);
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		gap: var(--spacing-7);
		margin-top: var(--spacing-8);
	}

	&__column {
		flex: 1;
		min-width: 0;
	}

	// Footer Links.
	a {
		color: var(--color-white);
		text-decoration: none;

		&:hover {
			color: var(--color-gray-600);
		}
	}


	&__nav {

		ul {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			list-style: none;
			padding: 0;
			gap: var(--spacing-6);

			@media screen and (min-width: grid-size(lg)) {
				flex-flow: row wrap;
			}
		}

		li + li {
			margin-bottom: 0;
		}
	}

	&__copyright {
		flex: 1;
		min-width: 0;
	}

	&__copyright-content {
		margin: 0 auto;
		max-width: 460px;
	}
}
