/**
 * Media Description Cards.
 */
@import "../../scss";

.media-description-cards {
	$self: &;

	&__slides-container {
		column-gap: var(--spacing-6);
		height: 100%;
		align-items: stretch;

		@media screen and (min-width: grid-size(xl)) {
			left: initial !important;
		}
	}

	&:not(&--desktop-carousel) {
		#{$self}__slides-container {

			@media screen and (min-width: grid-size(xl)) {
				display: grid;
				row-gap: var(--spacing-7);
				height: auto !important;

				@include grid-columns(3);
			}

		}

		#{$self}__nav {

			@media screen and (min-width: grid-size(xl)) {
				display: none;
			}
		}

		#{$self}__slide {

			@media screen and (min-width: grid-size(sm)) {
				flex: 0 0 calc(75% - var(--spacing-4));
			}

			@media screen and (min-width: grid-size(md)) {
				flex: 0 0 calc(45% - var(--spacing-4));
			}

			@media screen and (min-width: grid-size(xl)) {
				background-color: transparent;
				min-width: auto;
				box-shadow: none;
				padding: 0;
			}
		}

		#{$self}__media-wrap {
			aspect-ratio: 2 / 1;
		}
	}

	&__section--desktop-carousel {
		margin-top: var(--spacing-5);
	}

	&__track {
		margin-left: calc(-1 * var(--grid-col-gutter));
		margin-right: calc(-1 * var(--grid-col-gutter));
		padding-left: var(--grid-col-gutter);
		padding-right: var(--grid-col-gutter);
	}

	&__slide {
		background-color: var(--color-white);
		border-radius: var(--border-radius-large);
		box-shadow: var(--shadow-1);
		flex: 0 0 100%;
		padding: var(--spacing-5);
		display: flex;
	}

	&__card {
		position: relative;
		overflow: hidden;
		min-width: 0;
		display: flex;
		flex-direction: column;
	}

	&__content {
		margin-top: var(--spacing-5);
		flex: 1;

		&:first-child {
			margin-top: 0;
		}
	}

	&__media-wrap {
		border-radius: var(--border-radius-large);
		overflow: hidden;
		aspect-ratio: 3 / 2;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: var(--spacing-4);
		margin-top: var(--spacing-6);
	}

	&__cta-button {
		margin-top: var(--spacing-5);

		.btn {
			width: 100%;
			height: 100%;
			padding: 17px 20px;
			line-height: 1.25;
		}
	}

	&__arrow-button {
		background-color: var(--color-black);
		width: 27px;
		height: 27px;
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			width: 7px;
			height: 11px;
		}

		&--right {

			svg {
				transform: rotate(180deg);
			}
		}
	}
}
