.toast-message {
	display: none;
	gap: var(--spacing-3);
	padding: var(--spacing-3) 20px;
	border-radius: 4px;
	color: var(--color-white);
	align-items: center;

	p {
		width: 100%;
		margin: 0;
	}

	[visible] {
		display: flex;
	}

	&--success {
		background-color: var(--color-success-50);
	}

	&--error {
		background-color: var(--color-error-50);
	}

	svg {
		min-width: 24px;
		min-height: 24px;
	}
}
