/**
 * Variables.
 */

// Global Variables.
$is-editor: false !default;

// Colors.
$colors: (
	"black": #000,
	"white": #fff,
) !default;

$button-colors: (
	"white"
);

// Grid.
$grid-breakpoints: (
	xs: 400px,
	sm: 576px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	xxl: 1400px,
	xxxl: 1600px,
) !default;

// Spacing.
$spacing: (
	xs: 10px,
	sm: 20px,
	md: 30px,
	lg: 40px,
	xl: 50px,
	xxl: 60px,
) !default;

// Typography.
$body_text_standard: (
	grid-size(xs): 14px,
	grid-size(xxxl): 16px,
) !default;

$body_text_large: (
	grid-size(xs): 16px,
	grid-size(xxl): 19px,
) !default;

$body_text_small: (
	grid-size(xs): 14px,
	grid-size(xxl): 15px,
) !default;

$body_text_tiny: (
	grid-size(xs): 12px,
	grid-size(xxl): 13px,
) !default;

$body_text_ui: (
	grid-size(xs): 12px,
	grid-size(xxl): 13px,
) !default;

$body_text_ui_large: (
	grid-size(xs): 13px,
	grid-size(xxl): 16px,
) !default;

$body_text_ui_small: (
	grid-size(xs): 11px,
	grid-size(xxl): 12px,
) !default;

$h1_text: (
	grid-size(xs): 28px,
	grid-size(xxl): 68px,
) !default;

$h2_text: (
	grid-size(xs): 24px,
	grid-size(xxl): 46px,
) !default;

$h3_text: (
	grid-size(xs): 22px,
	grid-size(xxl): 32px,
) !default;

$h4_text: (
	grid-size(xs): 19px,
	grid-size(xxl): 26px,
) !default;

$h5_text: (
	grid-size(xs): 17px,
	grid-size(xxl): 20px,
) !default;

$h6_text: (
	grid-size(xs): 16px,
	grid-size(xxl): 18px,
) !default;
