/**
 * Product Departures Card.
 */
@import "../../scss";

.product-departures-card {
	$self: &;

	border-radius: var(--border-radius-large);
	overflow: hidden;
	max-width: 704px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: var(--shadow-4);

	&__images-wrap {
		position: relative;
	}

	&__images {
		display: flex;
	}

	&__image {
		margin: 0;
		position: relative;
		overflow: hidden;
		flex: 1;
		min-width: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include transition(transform);
		}

		& ~ & {
			display: none;

			@media screen and (min-width: grid-size(sm)) {
				display: initial;
			}
		}
	}

	&__badge-cta {
		background-color: var(--color-error-50);
		box-shadow: var(--shadow-4);
		color: var(--color-white);
		font-weight: var(--font-weight-bold);
		position: absolute;
		top: 0;
		left: 0;
		letter-spacing: 2px;
		padding: 6px 20px 6px 14px;
		text-transform: uppercase;
		clip-path: polygon(0% 0%, 100% 0%, 94% 100%, 0% 100%);
	}

	&__content {
		background-color: var(--color-white);
		padding: var(--spacing-5) var(--spacing-4);
		position: relative;

		@media screen and (min-width: grid-size(sm)) {
			grid-template-columns: repeat(12, 1fr);
			padding: var(--spacing-5);
		}
	}

	&__title {
		margin-bottom: 0;

		@media screen and (min-width: grid-size(sm)) {
			grid-column: auto / span 6;
			padding-bottom: 72px; // Button height.
		}
	}

	&__badge-sold-out {
		background: var(--color-white);
		border: 2px solid;
		border-radius: var(--border-radius);
		color: var(--color-error-50);
		display: inline-flex;
		position: absolute;
		top: 16px;
		left: 10px;
		padding: var(--spacing-2) var(--spacing-4);
		text-transform: uppercase;
		transform: rotate(-10deg);
		inset: 0;
		max-width: fit-content;
		max-height: fit-content;
		margin: auto;
	}

	&__cta {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		margin-top: auto;
		order: 1;

		@media screen and (min-width: grid-size(sm)) {
			grid-column: auto / span 6;
			position: absolute;
			bottom: var(--spacing-5);
			left: var(--spacing-5);
			width: calc(50% - var(--grid-col-gutter) * 3 / 2); // Width - Gap (left, right and middle) / 2
		}
	}

	&__overline {
		color: var(--color-gray-70);
		font-weight: var(--font-weight-bold);
	}

	&__departures {

		@media screen and (min-width: grid-size(sm)) {
			grid-column: auto / span 6;
		}
	}

	&__dates {
		display: grid;
		grid-template-columns: auto auto;
		gap: var(--spacing-4);
		margin-top: var(--spacing-4);
		position: relative;

		& + & {
			border-top: 1px solid var(--color-gray-20);
			padding-top: var(--spacing-4);
		}
	}

	&__departure-dates {

		* {
			margin-bottom: 0;
		}
	}

	&__offer-wrap {
		display: flex;
		flex-direction: column;
	}

	&__offer {
		margin: 0;
	}

	&__offer-text {
		color: var(--color-success-100);
		font-weight: var(--font-weight-bold);
	}
}
