@import "../../scss";

.hero-card-slider {
	$self: &;

	--hero-card-max-width: 312px;
	--hero-card-slider-max-width: 100%;
	--hero-card-aspect-ratio: 78 / 113;

	max-width: var(--hero-card-slider-max-width);
	position: relative;
	border-radius: var(--border-radius-large);

	@media screen and (min-width: grid-size(lg)) {
		overflow: hidden;
	}

	&__track {
		margin-inline: calc(-50vw + 50%);
		max-width: 100vw;
		padding-inline: var(--grid-col-gutter);

		@media screen and (min-width: grid-size(lg)) {
			margin-inline: initial;
			padding-inline: initial;
		}
	}

	&__slides {
		gap: var(--spacing-6);
		max-width: var(--wrap-width);
		margin-inline: auto;

		@media screen and (min-width: grid-size(lg)) {
			gap: unset;
		}
	}

	@media screen and (min-width: grid-size(lg)) {
		--hero-card-max-width: 544px;
		--hero-card-slider-max-width: 544px;
		--hero-card-aspect-ratio: 34 / 37;

		&:hover tp-slider-arrow {
			display: block;
		}
	}

	&__card {
		max-width: var(--hero-card-max-width);
		display: block;
		aspect-ratio: var(--hero-card-aspect-ratio);
		position: relative;
		border-radius: var(--border-radius-large);
		overflow: hidden;

		&:hover {
			#{$self}__cta-text {
				text-decoration-color: var(--color-yellow);
			}
		}

		&:not(#{&}:has(#{$self}__content)) {
			--hero-card-aspect-ratio: 3 / 2;

			.two-columns--stack-on-tablet & {

				@media screen and (min-width: grid-size(md)) and (max-width: calc(grid-size(lg) - 1px)) {
					--hero-card-aspect-ratio: 9 / 5;
					--hero-card-max-width: 100%;
				}
			}

			@media screen and (min-width: grid-size(lg)) {
				--hero-card-aspect-ratio: 34 / 37;
			}
		}

		figure {
			margin: 0;
		}

		img,
		video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		#{$self}__image img,
		#{$self}__image video {
			position: absolute;
			z-index: 1;
		}

		#{$self}__image-lightbox img,
		#{$self}__image-lightbox video {
			position: static;
		}
	}

	&__content {
		position: absolute;
		z-index: 3;
		padding: var(--spacing-5);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		inset: 0;

		@media screen and (min-width: grid-size(lg)) {
			gap: var(--spacing-5);
			inset: auto 0 0 0;
		}
	}

	&__tag {
		background-color: var(--color-magenta);
		width: fit-content;
		padding: var(--spacing-2) var(--spacing-3);
		box-shadow: var(--shadow-1);
		font-weight: var(--font-weight-bold);
		letter-spacing: 2px;
	}

	&__title {
		margin-bottom: 0;
		margin-top: auto;

		@media screen and (min-width: grid-size(lg)) {
			margin-top: 0;
		}
	}

	&__overlay {
		position: absolute;
		display: block;
		margin: 0;
		inset: 0;
		z-index: 2;
		max-width: 100%;
		background-color: rgba(0, 0, 0, 0.15);
	}

	&__title,
	&__description {

		@include line-clamp(2);
	}

	&__cta {
		display: flex;
		gap: var(--spacing-1);
		width: fit-content;

		&-text {
			text-decoration: underline;
		}

		&-icon {
			transform: translate(2px, 1px);

			svg {
				rotate: 180deg;
			}
		}
	}

	&__card-cta,
	&__cta-text,
	&__tag,
	&__overline,
	.btn {

		@include line-clamp(1);
	}

	.btn {
		width: fit-content;
	}

	&__description,
	&__card-cta,
	&__cta-text,
	&__overline,
	.btn {
		display: none;

		@media screen and (min-width: grid-size(lg)) {
			display: -webkit-box;
		}
	}

	&__arrows {
		display: flex;
		gap: var(--spacing-4);
		margin-top: var(--spacing-4);

		@media screen and (min-width: grid-size(lg)) {
			margin-top: 0;
		}
	}

	tp-slider-arrow {

		@media screen and (min-width: grid-size(lg)) {
			display: none;
			position: absolute;
			z-index: 99;

			&[direction="previous"] {
				inset: 60% auto auto var(--spacing-2);
			}

			&[direction="next"] {
				inset: 60% var(--spacing-2) auto auto;
			}
		}
	}

	&__arrow-button {
		background-color: var(--color-black);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		.section--has-background-black & {
			background-color: var(--color-white);

			@media screen and (min-width: grid-size(lg)) {
				background-color: var(--color-black);
			}

			path {
				fill: var(--color-black);

				@media screen and (min-width: grid-size(lg)) {
					fill: var(--color-white);
				}
			}

		}

		svg {
			transform: scale(1.3);
		}

		&--right {

			svg {
				transform: rotate(180deg) scale(1.3);
			}
		}
	}

	tp-slider-nav {
		position: absolute;
		inset: auto var(--spacing-4) var(--spacing-4) auto;
		z-index: 3;
		display: none;

		@media screen and (min-width: grid-size(lg)) {
			display: flex;
		}
	}

	tp-slider-nav-item button {
		display: block;
		font-size: 0;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--color-gray-40);
	}

	tp-slider-nav-item[current="yes"] button {
		background-color: var(--color-white);
	}
}

quark-hero-card-slider {
	display: contents;
}
