/**
 * Product Cards.
 */
@import "../../scss";

.product-cards {
	$self: &;

	&--align-center {

		#{$self}__slides {

			@media screen and (min-width: grid-size(md)) {
				left: 0 !important;
				min-width: 100%;
				justify-content: center;
			}
		}
	}

	&__slider {
		// width: 100vw;

		@media screen and (min-width: grid-size(xl)) {
			// width: auto;
		}

		#{$self}--has-overflow & {

			@media screen and (min-width: grid-size(xl)) {
				width: 100vw;
			}
		}

		&:has(div.thumbnail-cards__nav) {
			#{$self}__track {
				margin-bottom: 0;
			}
		}

		&[total="2"] {

			#{$self}__nav {

				@media screen and (min-width: grid-size(md)) {
					display: none;
				}
			}
		}

		&[total="3"] {

			#{$self}__slides {

				@media screen and (min-width: grid-size(xl)) {
					left: initial !important;
				}
			}

			#{$self}__nav {

				@media screen and (min-width: grid-size(xl)) {
					display: none;
				}
			}
		}
	}

	&__track {
		scrollbar-width: none; /* Firefox */
		margin-left: calc(-50vw + 50%);
		margin-right: calc(-50vw + 50%);
		max-width: 100vw;
		padding: 0 var(--grid-col-gutter);

		@media screen and (min-width: grid-size(xl)) {
			margin-inline: -18px;
			padding-inline: 18px;
			max-width: initial;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		#{$self}--has-overflow & {
			margin: 0 calc(-1 * var(--grid-col-gutter)) calc(-1 * var(--spacing-6));
			padding: 0 var(--grid-col-gutter) var(--spacing-6);

			@media screen and (min-width: grid-size(sm)) {
				overflow-x: visible;
			}
		}
	}

	&__slides {
		gap: var(--spacing-4);
		align-items: stretch;
		max-width: var(--wrap-width);
		margin-inline: auto;

		@media screen and (min-width: grid-size(lg)) {
			gap: var(--spacing-6);
		}
	}

	// Carousel layout.
	&__slide {
		max-width: calc(100vw - 2 * var(--spacing-6));

		@media screen and (min-width: grid-size(sm)) {
			max-width: 352px;
		}
	}

	// Grid layout.
	&--grid {

		#{$self}__slides {
			display: grid;
			grid-auto-flow: row;
			grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
			max-width: 100%;
		}

		#{$self}__nav {
			display: none;
		}
	}

	&__nav {
		display: flex;
		column-gap: var(--spacing-5);
		margin-top: var(--spacing-6);
	}

	&__arrow-button {
		background-color: var(--color-black);
		width: 27px;
		height: 27px;
		border-radius: 50%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			width: 7px;
			height: 11px;
		}

		&--right {

			svg {
				transform: rotate(180deg);
			}
		}
	}

	&__card {
		background-color: var(--color-white);
		border-radius: var(--border-radius-large);
		box-shadow: var(--shadow-1);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		overflow: hidden;
		padding: var(--spacing-5);
		height: 100%;

		&:hover img {
			transform: scale(var(--scale-size));
		}
	}

	&__info-ribbon {
		background-color: var(--color-success-10);
		color: var(--color-success-100);
		font-weight: var(--font-weight-bold);
		padding: var(--spacing-2);
		text-align: center;
	}

	&__badge-cta {
		background-color: var(--color-error-50);
		box-shadow: var(--shadow-4);
		color: var(--color-white);
		font-weight: var(--font-weight-bold);
		position: absolute;
		top: 0;
		left: 0;
		letter-spacing: 2px;
		padding: 6px 12px 6px 14px;
		text-transform: uppercase;
	}

	&__badge-sold-out {
		background: var(--color-white);
		border: 2px solid;
		border-radius: var(--border-radius);
		color: var(--color-error-50);
		display: inline-flex;
		position: absolute;
		top: 16px;
		left: 10px;
		padding: var(--spacing-2) var(--spacing-4);
		text-transform: uppercase;
		transform: rotate(-10deg);
	}

	&__badge-time {
		background-color: var(--color-white);
		border-radius: var(--border-small);
		box-shadow: var(--border-small);
		position: absolute;
		top: 16px;
		right: 16px;
		display: inline-flex;
		align-items: center;
		gap: 6px;
		padding: 2px 6px;

		svg {
			color: var(--color-yellow);
		}
	}

	&__image {
		margin: calc(-1 * var(--spacing-5)) calc(-1 * var(--spacing-5)) var(--spacing-2);
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include transition(transform);
		}

		#{$self}__info-ribbon {
			position: absolute;
			bottom: 0;
			z-index: 1;
			width: 100%;
			left: 0;
		}
	}

	&__image-immersive:not(&__image-has-url),
	&__image-immersive &__image-link {

		&::after {
			background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
		}
	}

	&__overline {
		font-weight: var(--font-weight-bold);
		margin-bottom: 0;
	}

	&__reviews {
		color: var(--color-gray-70);
		display: flex;
		align-items: center;
		gap: var(--spacing-2);
	}

	&__title {
		margin-bottom: 0;
	}

	&__subtitle {
		font-weight: var(--font-weight-bold);
		margin-bottom: 0;
	}

	&__description {
		color: var(--color-gray-70);
	}

	&__itinerary {
		color: var(--color-gray-70);
	}

	&__icon-content {
		display: flex;
		align-items: center;
		gap: var(--spacing-2);
		font-weight: var(--font-weight-bold);
		position: relative;
	}

	&__icon-svg {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 28px;
		min-height: 28px;
	}

	&__price-content {

		&:last-child {
			margin-top: auto;
		}
	}

	&__price-content-text {
		color: var(--color-success-100);
	}

	&__price-content-title {
		color: var(--color-gray-70);
		margin-top: var(--shadow-2);
		margin-bottom: var(--spacing-1);
	}

	&__specifications {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--spacing-4);
	}

	&__specification-item {

		&:nth-child(n+3) {
			grid-column: span 2;
		}
	}

	&__specification-label {
		color: var(--color-gray-80);
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);
	}

	&__specification-value {
		font-weight: var(--font-weight-bold);
	}

	&__price-wrap {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		gap: var(--spacing-1);
		margin-top: auto;
	}

	&__price-title {
		color: var(--color-gray-70);
		flex: 0 0 100%;
		margin-top: var(--spacing-2);
	}

	&__transfer-package {

		#{$self}__price-wrap + & {
			margin-top: calc(-1 * var(--spacing-3));
		}
	}

	&__transfer-package-header {
		display: flex;
		align-items: center;
		gap: var(--spacing-2);
	}

	&__transfer-package-label {
		margin: 0;
	}

	&__drawer-open {
		cursor: pointer;
		display: flex;

		svg {
			max-width: 20px;
			height: auto;
		}
	}

	&__transfer-package-content {

		.drawer__header {
			padding-right: var(--spacing-6);
		}

		.drawer__content {
			max-width: 640px;
			width: 100%;
			padding: var(--spacing-5);
		}

		.drawer__body {
			margin-top: var(--spacing-5);
		}

		.drawer__drawer-close {
			inset: var(--grid-row-gutter) var(--spacing-5) auto auto;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			background-color: var(--color-gray-5);
			border-radius: var(--border-radius);
			padding: var(--spacing-2) var(--spacing-3);

			+ li {
				margin-top: var(--spacing-2);
			}
		}
	}

	&__price-now {
		color: var(--color-success-100);
		margin: 0;
	}

	&__buttons {
		margin-top: var(--spacing-1);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-3);

		@media screen and (min-width: grid-size(lg)) {
			flex-direction: row;
			flex-wrap: wrap;
		}

		> .lp-form-modal-cta .btn {
			width: 100%;
		}

		> * {
			flex-grow: 1;
		}

		quark-dynamic-phone-number {

			.btn {
				width: 100%;
			}
		}
	}
}
