.breadcrumbs {
	--link-color: var(--color-gray-70);
	--link-hover-color: var(--color-gray-40);
	--active-color: var(--color-black);

	display: flex;
	gap: var(--spacing-4);
	overflow-x: auto;
	margin-block: var(--typography-spacing);
	white-space: nowrap;
	margin-inline: calc(-1 * var(--grid-col-gutter));
	padding-inline: var(--grid-col-gutter);

	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}

	// Dark appearance.
	&--dark {
		--link-color: var(--color-gray-30);
		--link-hover-color: var(--color-gray-70);
		--active-color: var(--color-white);
	}

	&__breadcrumb {
		display: flex;
		gap: var(--spacing-4);
		flex: 0 0 fit-content;

		&:last-child &-title {
			color: var(--active-color);
			font-weight: var(--font-weight-bold);

			&:hover {
				text-decoration: none;
			}
		}

		&:first-child &-separator {
			display: none;
		}

		&-title {
			text-decoration: none;
			color: var(--link-color);

			&:hover {
				text-decoration-color: var(--link-hover-color);
			}
		}

		&-separator {
			display: flex;
			align-items: center;

			svg {
				rotate: 180deg;

				path {
					fill: var(--link-color);
				}
			}
		}
	}
}
