.hero-card-slider__arrows {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: space-between;
	align-items: center;
}

.hero-card-slider__arrow-button {
	margin-top: 100px;
}
