/**
 * Two Columns.
 */

@import "../../scss";

.two-columns {
	$self: &;

	grid-gap: var(--spacing-6);

	@media screen and (min-width: calc( grid-size(lg) )) {

		@include grid-columns(2);
	}

	&:not(&--stack-on-tablet) {

		@media screen and (min-width: grid-size(md)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__column {

		> h3 + .section {
			margin-top: var(--spacing-4);
		}
	}

	&--has-border {

		@media screen and (min-width: grid-size(md)) {
			grid-gap: calc(var(--spacing-6) * 2);
			position: relative;

			&::after {
				content: "";
				position: absolute;
				height: 100%;
				width: 1px;
				background-color: var(--color-gray-30);
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
			}
		}

		#{$self}__column:not(:first-child) {

			@media screen and (max-width: calc(grid-size(md) - 1px)) {
				border-top: 1px solid var(--color-gray-30);
				padding-top: var(--spacing-6);
			}
		}
	}

	&--only-child {
		grid-template-columns: repeat(1, 1fr);

		&::after {
			display: none;
		}
	}
}
