@import "../../scss";

.expedition-search {
	$self: &;

	&[loading="true"] {

		#{$self}__results {

			> * {
				display: none;
			}

			&--loading {
				display: block;
			}
		}
	}

	&__header {
		display: flex;
		padding-block: var(--spacing-5);
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		border-bottom: 1px solid var(--color-gray-10);

		@media screen and (min-width: grid-size(sm)) {
			flex-wrap: nowrap;
		}
	}

	.form-field-group__group {
		grid-template-columns: 1fr;
		padding-right: var(--spacing-1);
	}

	&__filter-count {
		color: var(--color-gray-50);
	}

	&__sidebar-filters {

		&-header {
			display: flex;
			justify-content: space-between;

			&-title {
				display: inline;
				margin-bottom: 0;
			}

		}

		&-content {
			max-height: calc(100% - var(--spacing-6));
			overflow-y: auto;
			margin-top: var(--spacing-5);

			@include transition(height);

			&-expedition,
			&-cabin {
				margin-bottom: var(--spacing-5);
			}

			.accordion__handle-btn-text {
				font-size: var(--font-size);
				font-weight: var(--font-weight-normal);
			}
		}

		label {
			font-weight: var(--font-weight-normal);
		}

		&-with-children {

			label {
				font-weight: var(--font-weight-bold);
			}
		}

		&-children {
			padding-left: var(--spacing-6);

			label {
				font-weight: var(--font-weight-normal);
			}
		}
	}

	&__filters {
		display: flex;
		column-gap: var(--spacing-5);
		flex-wrap: wrap;

		@media screen and (min-width: grid-size(sm)) {
			flex-wrap: nowrap;
		}

		.form-field,
		label {
			margin-bottom: 0;
		}

		tp-multi-select {
			cursor: pointer;
		}
	}

	&__body {

		.sidebar-grid {
			margin-top: var(--spacing-5);
		}
	}

	.expedition-search__recent-searches {
		display: block;
		margin-bottom: var(--spacing-6);
		padding-bottom: var(--spacing-5);

		> .h4 {
			margin-bottom: var(--spacing-5);
		}
	}

	.search-filters-bar {
		margin-top: var(--spacing-4);
	}

	&__result-count {

		&-value {
			font-weight: var(--font-weight-bold);
		}
	}

	&__results {
		margin-block-end: var(--spacing-5);

		&--loading {
			display: none;
			width: fit-content;
			margin-inline: auto;
			margin-block: var(--spacing-6);

			> svg {
				width: 80px;
				height: 80px;

				@include spin;

				> path {
					fill: var(--color-yellow);
				}
			}
		}
	}

	&__load-more {
		display: block;

		&[active="false"] {

			#{$self}__load-more-button-container {
				display: none;
			}
		}

		&[loading="false"] {

			#{$self}__load-more-button {

				> span.btn__icon-spinner {
					display: none;
				}
			}
		}

		&[loading="true"] {

			#{$self}__load-more-button {

				> span.btn__icon-spinner {
					display: inline-flex;
				}
			}
		}

		&-button-container {
			display: block;
			text-align: center;
			margin-block-start: var(--spacing-6);

			> button {
				width: 100%;

				@media screen and (min-width: grid-size(sm)) {
					width: auto;
				}
			}
		}
	}

	[data-hidden] {
		display: none;
	}

	quark-expedition-search-filter-destinations,
	quark-expedition-search-filter-ships,
	quark-expedition-search-filter-months,
	quark-expedition-search-filter-itinerary-lengths,
	quark-expedition-search-filter-adventure-options,
	quark-expedition-search-filter-adventure-languages,
	quark-expedition-search-filter-adventure-expeditions,
	quark-expedition-search-filter-adventure-cabin-classes,
	quark-expedition-search-filter-adventure-travelers {
		display: contents;
	}

	&__sticky-filters {
		position: fixed;
		bottom: 100px;
		left: 50%;
		z-index: 98;

		transform: translate(-50%);

		button.btn.btn--has-icon {
			border-radius: 100px;

			&:not(:hover) {
				background-color: var(--color-white);
			}
		}

		@media screen and (min-width: calc(grid-size(lg) + 1px)) {
			display: none;
		}
	}

	&__selected-filters {
		display: block;
		overflow-x: auto;
		margin-bottom: var(--spacing-5);
		padding-bottom: var(--spacing-2);

		@media screen and (min-width: calc(grid-size(lg) + 1px)) {
			overflow-x: initial;
			padding-bottom: 0; // This is removed because we don't have a scrollbar anymore
		}

		&-list {
			display: flex;
			gap: var(--spacing-3);
			align-items: baseline;
			min-width: max-content;

			@media screen and (min-width: calc(grid-size(lg) + 1px)) {
				min-width: initial;
				flex-wrap: wrap;
			}

			#{$self}__selected-filter-pill {
				flex: 0 0 max-content;
				display: flex;
				padding: var(--spacing-2) var(--spacing-4);
				border: 1px solid var(--color-gray-30);
				border-radius: 32px;
				gap: var(--spacing-2);
				align-items: center;
				font-size: var(--font-size-small);
			}

			#{$self}__selected-filter-close {
				height: fit-content;

				svg {
					height: 8px;
				}
			}
		}

		&-container {
			padding-right: var(--spacing-5);
			display: flex;
			gap: var(--spacing-3);
			align-items: baseline;
			min-width: max-content;

			@media screen and (min-width: calc(grid-size(lg) + 1px)) {
				min-width: initial;
				flex-wrap: wrap;
			}
		}
	}

	.months-multi-select__arrow-button {
		width: 24px;
		height: 24px;

		svg {
			transform: none;
		}

		&--right svg {
			transform: rotate(180deg);
		}
	}

	.months-multi-select__slider,
	.months-multi-select__slide {

		@media screen and (min-width: grid-size(sm)) {
			display: block;
		}
	}

	&__filters-currency {

		tp-multi-select-options {
			min-width: 98px;
		}
	}

	&__no-results {
		width: min-content;

		.btn {
			width: 100%;
		}

		&-heading {
			text-wrap: nowrap;
			min-width: 300px;
		}

		// stylelint-disable-next-line
		:is(#{$self}__load-more, #{$self}__results, .expedition-cards):has(&) {

			@media screen and (min-width: calc(grid-size(lg) - 1px)) {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			#{$self}__load-more-button-container {
				display: none;
			}
		}

		// stylelint-disable-next-line
		.sidebar-grid__content:has(&) {

			@media screen and (min-width: calc(grid-size(lg) - 1px)) {
				display: flex;
				flex-direction: column;
			}
		}

		// stylelint-disable-next-line
		#{$self}__load-more:has(&) {

			@media screen and (min-width: calc(grid-size(lg) - 1px)) {
				flex: 1;
			}
		}
	}

	&__accordion-content--no-transition {
		transition: none;
	}
}

tp-modal.expedition-search__filters-modal {

	.modal__body > .h4 {
		display: block;
		border-bottom: 1px solid var(--color-gray-20);
		padding-bottom: var(--spacing-5);
	}

	.expedition-search__filters-sort label {
		font-size: var(--h4-font-size);
		line-height: var(--h4-line-height);
		margin-bottom: var(--h4-spacing);
	}

	.modal__content {
		background-color: var(--color-white);
	}

	.modal__footer {
		display: flex;
		gap: var(--spacing-4);

		> :last-child {
			flex: 1;

			button {
				width: 100%;
			}
		}
	}

	.expedition-search__sidebar-filters-with-children label {
		font-weight: var(--font-weight-bold);
	}

	label,
	.expedition-search__sidebar-filters-children label {
		font-weight: var(--font-weight-normal);
	}

	@media screen and (min-width: calc(grid-size(lg) + 1px)) {
		display: none;
	}

	.months-multi-select__arrow-button {
		width: 24px;
		height: 24px;

		svg {
			transform: none;
		}

		&--right svg {
			transform: rotate(180deg);
		}
	}

	.months-multi-select__slider--compact,
	.months-multi-select__slide--compact {

		@media screen and (min-width: grid-size(sm)) {
			display: block;
		}
	}
}
