@import "~@travelopia/web-components/dist/modal/style.css";
@import "../../scss";

.modal {
	$self: &;

	align-items: center;
	justify-content: center;
	padding: var(--spacing-5);
	overflow: hidden;

	@media screen and (max-width: calc(grid-size(sm) - 1px)) {
		padding-inline: 0;
	}

	@media screen and (max-width: calc(grid-size(sm) - 1px)),
		screen and (max-height: calc(grid-size(md) - 1px) ) {
		padding-bottom: 0;
		align-items: flex-end;
	}

	&[open] {
		z-index: 110;
	}

	&--open {

		@include fade-in;

		#{$self}__content {

			@include slide-up;
		}
	}

	&--close {

		@include fade-out;

		#{$self}__content {

			@include slide-down;
		}
	}

	&__content {
		margin: 0;
		width: 100%;
		max-width: 600px;
		padding: var(--spacing-5);
		position: relative;
		border-radius: var(--border-radius-large);
		background-color: var(--color-gray-5);

		@media screen and (max-width: calc(grid-size(sm) - 1px)),
			screen and (max-height: calc(grid-size(md) - 1px) ) {
			border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
			padding-bottom: 0;
		}
	}

	*:has( > #{$self}__body, > #{$self}__header, > #{self}__footer) {
		max-height: calc(100dvh - var(--spacing-7));
		display: flex;
		flex-direction: column;
		gap: var(--spacing-6);
	}

	&__header {
		padding-inline: var(--spacing-5);
		text-align: center;

		@media screen and (max-width: calc(grid-size(sm) - 1px)) {
			text-align: left;
			padding-left: 0;
		}

		@media screen and (max-width: calc(grid-size(sm) - 1px)),
			screen and (max-height: calc(grid-size(md) - 1px) ) {
			padding-bottom: var(--spacing-4);
			margin-bottom: 0;
		}

		h3 {
			margin: 0;
		}

		p {
			color: var(--color-gray-60);
		}
	}

	&__body {
		overflow-y: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		-webkit-overflow-scrolling: touch;
		flex-grow: 1;

		&::-webkit-scrollbar {
			display: none;
		}

		@media screen and (max-width: calc(grid-size(sm) - 1px)),
			screen and (max-height: calc(grid-size(md) - 1px) ) {
			padding-bottom: var(--spacing-3);

			&:has(+ #{$self}__footer) {
				margin-bottom: calc(-1 * var(--spacing-6));
			}
		}
	}

	&__footer {

		@media screen and (max-width: calc(grid-size(sm) - 1px)),
			screen and (max-height: calc(grid-size(md) - 1px) ) {
			background: var(--color-white);
			padding-block: var(--spacing-3);
			margin-inline: calc(-1 * var(--spacing-5));
			padding-inline: var(--spacing-5);
			border-top: solid 1px rgba(color("black"), 0.06);
		}
	}

	&__close-button {
		position: absolute;
		top: 15px;
		right: 15px;
		border-radius: 50%;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 24px;
			width: 24px;
			border-radius: 50%;
		}

		:hover {
			background: var(--color-gray-30);
		}
	}

	.toast-message {
		position: absolute;
		inset: var(--spacing-1) auto auto 50%;
		width: 90%;
		transform: translate(-50%);

		@media (min-width: grid-size(md)) {
			top: calc(-1 * var(--spacing-4));
			width: fit-content;
			min-width: 450px;
		}
	}
}
