@import "~@travelopia/web-components/dist/modal/style.css";
@import "../../scss";

.modal {
	$self: &;

	&__content {
		background-color: var(--color-gray-5);
		position: relative;
		padding: var(--spacing-5);
		border-radius: 8px;
	}

	&__close-button {
		position: absolute;
		top: 15px;
		right: 15px;
		border-radius: 50%;

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 24px;
			width: 24px;
			border-radius: 50%;
		}

		:hover {
			background: var(--color-gray-30);
		}
	}

	.toast-message {
		position: absolute;
		inset: var(--spacing-1) auto auto 50%;
		width: 90%;
		transform: translate(-50%);

		@media (min-width: grid-size(md)) {
			top: calc(-1 * var(--spacing-4));
			width: fit-content;
			min-width: 450px;
		}
	}

	&__open-modal {
		display: contents;
	}
}
