.logo-grid {
	--logo-grid-image-height: 32px;

	.gumponents-select-image {
		overflow: visible;

		.components-placeholder {
			align-items: center;
			justify-content: center;
		}

		&__inline-menu {
			top: -20px;
		}
	}

	&__img.gumponents-select-image {
		height: auto;
	}

	img.gumponents-select-image__img {
		height: var(--logo-grid-image-height) !important;
	}

	&--medium {
		--logo-grid-image-height: 40px;
	}

	&--large {
		--logo-grid-image-height: 64px;
	}

	.gumponents-select-image:not(.gumponents-select-image--selected) {
		width: var(--logo-grid-image-height);
		height: var(--logo-grid-image-height);
		max-height: none !important;
	}
}
