/**
 * Featured Image.
 */
@import "../../scss";

.featured-image {
	border-radius: var(--border-radius-large);
	overflow: hidden;
	aspect-ratio: 52 / 75;

	@media screen and (min-width: grid-size(sm)) {
		aspect-ratio: 864 / 516;
	}

	@media screen and (min-width: grid-size(lg)) {
		aspect-ratio: 1120 / 516;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
