@import "../../scss/";

.product-options-cards {
	$self: &;

	display: block;

	&__slides {
		gap: var(--spacing-4);
		align-items: stretch;
		padding-bottom: var(--spacing-6);
	}

	&__track {
		margin: 0 calc(-1 * var(--grid-col-gutter));
		padding: 0 var(--grid-col-gutter);
	}

	&__card {
		width: 100%;
		max-width: 312px;
		border-radius: var(--border-radius-large);
		overflow: hidden;
		position: relative;
		box-shadow: var(--shadow-3);
		cursor: pointer;

		&--sold-out,
		&--please-call {
			pointer-events: none;

			#{$self}__gallery,
			#{$self}__content > *:not(#{$self}__tooltip) {
				filter: grayscale(1);
			}
		}

		&:hover {
			box-shadow: var(--shadow-5);
		}

		&[data-open="yes"] {
			border: 1px solid var(--color-gray-80);
		}

		#{$self}__gallery {
			position: relative;
			cursor: initial;

			&:hover #{$self}__gallery-arrow-button {
				display: flex;
			}

			&-slides {
				gap: var(--spacing-4);
			}

			&-slide {
				max-height: 192px;
				overflow: hidden;

				img {
					height: 100%;
				}
			}

			&-arrow-button {
				display: none;

				&--right {
					right: var(--spacing-5);
				}

				&--left {
					left: var(--spacing-5);
				}
			}

			tp-slider-nav {
				position: absolute;
				inset: auto var(--spacing-5) var(--spacing-5) auto;

				&-item {
					display: block;

					&[current] button {
						background-color: var(--color-white);
					}

					button {
						display: block;
						font-size: 0;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: var(--color-gray-10);
					}
				}
			}
		}
	}

	&__badge {
		position: absolute;
		inset: var(--spacing-4) auto auto var(--spacing-4);
		padding: var(--spacing-2) var(--spacing-3);
		color: var(--color-white);
		border-radius: var(--border-radius);

		&--standard {
			background-color: var(--color-blue);
		}

		&--premium {
			background-color: var(--color-magenta);
		}

		&--sold-out,
		&--please-call {
			background-color: var(--color-gray-50);
		}
	}

	&__content {
		padding: var(--spacing-5);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-5);
		position: relative;

		#{$self}__title {
			font-size: var(--h5-font-size);
			font-weight: var(--font-weight-bold);
			line-height: var(--h5-line-height);
			margin-bottom: 0;
		}
	}

	&__specifications {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-5);
		border-bottom: 1px solid var(--color-gray-20);
		padding-bottom: var(--spacing-5);
	}

	&__specification {
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);

		&-label {
			color: var(--color-gray-60);
		}

		&-value {
			font-weight: var(--font-weight-bold);
		}
	}

	&__price {

		&-discounted,
		> p {
			color: var(--color-success-100);
			font-weight: var(--font-weight-bold);
		}

		p {
			margin-bottom: 0;
		}

		&-info {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: var(--spacing-2);
		}

		&-original {
			justify-self: end;
			color: var(--color-gray-60);
			text-decoration-line: line-through;
		}
	}

	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-wrap: wrap;
		gap: var(--spacing-6);
	}

	&__help {
		display: flex;
		gap: var(--spacing-4);
		flex-wrap: wrap;
		align-items: baseline;

		&-text {
			margin-bottom: 0;
			font-weight: var(--font-weight-bold);
		}

		.btn {
			white-space: normal;
		}
	}

	&__arrows {
		display: flex;
		gap: var(--spacing-5);
	}

	&__arrow-button,
	&__gallery-arrow-button {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 27px;
		height: 27px;
		background-color: var(--color-black);
		border-radius: 50%;

		&--right {
			transform: rotate(180deg);
		}
	}

	&__gallery-arrow-button {
		position: absolute;
		top: 50%;
		translate: 0 -50%;
	}

	&__more-details {
		overflow: hidden;
		height: 0;

		@include transition("height");

		@media screen and (max-width: calc(grid-size(md) - 1px)) {
			display: none;
		}
	}

	&__card-details {
		padding-top: var(--spacing-8);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-6);

		&[data-hidden="yes"] {
			display: none;
		}

		#{$self}__gallery {
			--card-details-gallery-slide-max-width: 100%;
			--arrow-lateral-inset: calc((100% - var(--card-details-gallery-slide-max-width)) / 2 + var(--spacing-3));

			&-slides {
				gap: var(--spacing-4);
			}

			&-slider {
				position: relative;
			}

			@media screen and (min-width: grid-size(sm)) {
				--card-details-gallery-slide-max-width: 511px;
			}

			@media screen and (min-width: grid-size(md)) {
				--card-details-gallery-slide-max-width: 660px;
			}

			@media screen and (min-width: grid-size(lg)) {
				--card-details-gallery-slide-max-width: 928px;
			}

			&-slide {
				overflow: hidden;
				max-width: var(--card-details-gallery-slide-max-width);

				@media screen and (min-width: grid-size(sm)) {
					border-radius: var(--border-radius-large);
				}
			}

			&-track {
				margin-inline: calc((100% - var(--card-details-gallery-slide-max-width)) / 2);
				overflow: visible;
			}

			@media screen and (min-width: grid-size(sm)) {
				--arrow-lateral-inset: calc((100% - var(--card-details-gallery-slide-max-width)) / 2 - var(--spacing-5));
			}

			@media screen and (min-width: grid-size(md)) {
				--arrow-lateral-inset: calc((100% - var(--card-details-gallery-slide-max-width)) / 2 - var(--spacing-7));
			}

			&-arrow-button {

				&--right {
					right: var(--arrow-lateral-inset);
				}

				&--left {
					left: var(--arrow-lateral-inset);
				}
			}
		}
	}

	&__card-details-title {
		display: flex;
		justify-content: space-between;
		gap: var(--spacing-6);

		h4 {
			margin-bottom: 0;
		}

		button {
			appearance: none;
		}
	}

	&__features {

		> p:first-of-type {
			display: inline;
		}
	}

	&__rooms {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-6);
	}

	&__room {
		gap: var(--spacing-6);

		label {
			display: flex;
			flex-grow: 1;
			gap: var(--spacing-6);
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__room-prices {
		display: flex;
		gap: var(--spacing-5);

		&-info {
			min-width: 120px;
		}

		&-discounted {
			color: var(--color-success-100);
			font-weight: var(--font-weight-bold);
		}

		&-original {
			color: var(--color-gray-60);
			text-decoration-line: line-through;
		}
	}

	&__room-title {
		font-weight: var(--font-weight-bold);
	}

	&__room-subtitle {
		font-weight: var(--font-weight-default);
	}

	&__discounts-container {
		display: flex;
		gap: var(--spacing-5);
		flex-wrap: wrap;
	}

	&__discount {
		padding: var(--spacing-2) var(--spacing-3);
		background-color: var(--color-success-10);
		color: var(--color-success-100);
		border-radius: var(--border-radius);
		min-width: fit-content;
		font-weight: var(--font-weight-bold);
	}

	&__discounts {
		border-bottom: 1px solid var(--color-gray-20);
		padding-bottom: var(--spacing-5);
	}

	&__cta-buttons {
		display: flex;
		align-items: center;
		gap: var(--spacing-4);
		flex-wrap: wrap-reverse;
		justify-content: flex-end;

		> p {
			margin-bottom: 0;
		}
	}

	&__tooltip {
		display: flex;
		align-items: center;
		gap: var(--spacing-1);

		.tooltip__icon {

			path {
				fill: var(--color-gray-40);
			}
		}
	}

	&__modal-cta {
		background-color: var(--color-gray-20);
	}

	&__modal {

		.modal__content {
			background-color: var(--color-white);
		}

		.modal__header {
			padding-bottom: 0;
		}

		.modal__body {
			display: flex;
			flex-direction: column;
			gap: var(--spacing-6);
		}

		.modal__footer {
			border: 0;
			box-shadow: var(--shadow-1);
			padding-block: var(--spacing-4);
		}

		.modal__close-button {
			top: 25px;
			right: 25px;

			svg {
				width: 16px;
				height: auto;
			}
		}

		#{$self}__cta-buttons {
			flex-flow: column-reverse;

			.btn {
				width: 100%;
			}
		}

		#{$self}__rooms {
			gap: var(--spacing-5);
		}

		#{$self}__room {
			gap: var(--spacing-5);
		}

		#{$self}__rooms-title {
			margin-bottom: 0;
		}

		#{$self}__room label {
			gap: var(--spacing-2);
		}

		#{$self}__help-text {
			margin-bottom: var(--spacing-6);
		}

		#{$self}__gallery-slide {
			border-radius: var(--border-radius-large);
			overflow: hidden;
		}
	}

	&__dialog-cta {
		color: transparent;
		user-select: none;

		@media screen and (max-width: calc( grid-size(md) - 1px )) {
			background: none;
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
		}

		@media screen and (min-width: grid-size(md)) {
			display: none;
		}
	}

	&__dialog {
		margin-bottom: 0;

		.dialog__content {
			background-color: var(--color-white);
			padding-bottom: var(--spacing-5);
		}

		.dialog__header {
			padding-bottom: 0;
		}

		.dialog__body {
			display: flex;
			flex-direction: column;
			gap: var(--spacing-6);
		}

		.dialog__footer {
			border: 0;
			box-shadow: var(--shadow-1);
			padding-block: var(--spacing-4);
		}

		.dialog__close-button {
			top: 25px;
			right: 25px;

			svg {
				width: 16px;
				height: auto;
			}
		}

		#{$self}__cta-buttons {
			flex-flow: column-reverse;

			.btn {
				width: 100%;
			}
		}

		#{$self}__rooms {
			gap: var(--spacing-5);
		}

		#{$self}__room {
			gap: var(--spacing-5);
		}

		#{$self}__rooms-title {
			margin-bottom: 0;
		}

		#{$self}__room label {
			gap: var(--spacing-2);
		}

		#{$self}__help-text {
			margin-bottom: var(--spacing-6);
		}

		#{$self}__gallery-slide {
			border-radius: var(--border-radius-large);
			overflow: hidden;
		}
	}
}
