@import "../../scss/";

.featured-media-accordions {
	display: block;

	&__image {
		overflow: hidden;
		border-radius: var(--border-radius-large);
		margin-bottom: 0;
		display: none;

		.accordion__content &,
		.accordion__content &[data-hidden] {
			display: block;
			margin-top: var(--spacing-5);

			@media screen and (min-width: grid-size(md)) {
				display: none;
			}
		}

		&[data-hidden] {
			display: none;
		}

		@media screen and (min-width: grid-size(md)) {
			max-width: 600px;
			display: block;
		}

		img {
			aspect-ratio: 5 / 3;
			width: 100%;

			@media screen and ( min-width: grid-size(md) ) {
				aspect-ratio: 1;
			}
		}
	}

	.two-columns__column:first-child {
		display: none;

		@media screen and (min-width: grid-size(md)) {
			display: block;
		}
	}
}
