@import "../../scss/";

.featured-media-accordions {
	display: block;

	&__image {
		overflow: hidden;
		border-radius: var(--border-radius-large);
		margin-bottom: 0;
		display: none;

		.accordion__content &,
		.accordion__content &[data-hidden] {
			display: block;
			margin-top: var(--spacing-5);

			@media screen and (min-width: grid-size(lg)) {
				display: none;
			}
		}

		&[data-hidden] {
			display: none;
		}

		@media screen and (min-width: grid-size(lg)) {
			max-width: 600px;
			display: block;
		}

		img {
			aspect-ratio: 16 / 9;
			width: 100%;

			@media screen and ( min-width: grid-size(lg) ) {
				aspect-ratio: 1;
			}
		}
	}

	.two-columns__column:first-child {
		display: none;

		@media screen and (min-width: grid-size(lg)) {
			display: block;
		}
	}

	.two-columns.two-columns {
		grid-template-columns: 600px 1fr;

		@media screen and (max-width: calc(grid-size(lg) - 1px)) {
			grid-template-columns: 1fr;
		}
	}
}
