.icon-badge {
	display: flex;
	gap: var(--spacing-2);
	padding: var(--spacing-2) var(--spacing-4);
	align-items: center;
	justify-content: center;
	width: 100%;
	box-shadow: var(--shadow-4);
	border-radius: var(--border-radius);

	@media screen and (min-width: grid-size(lg)) {
		justify-content: flex-start;
	}

	&__icon {
		height: 24px;
		width: 24px;
		overflow: hidden;
	}
}
