.hero {

	&__title {
		max-width: 100%;
	}

	.form-modal-cta {

		.wp-element-button,
		.wp-block-button {
			width: auto;
		}

		.wp-element-button {
			padding: var(--spacing-4) 20px;
			text-align: center;
			font-size: var(--font-size);
			font-weight: var(--font-weight-bold);

			&:hover {
				background-color: var(--color-white);
			}
		}
	}
}
