/**
 * Media Content Card.
 */

@import "../../scss";

.media-content-card {
	$self: &;
	background-color: var(--color-white);
	box-shadow: var(--shadow-1);
	border-radius: var(--border-radius-large);
	overflow: hidden;

	@media screen and (min-width: grid-size(md)) {
		max-width: 736px;
	}

	&__image {
		position: relative;
		margin-bottom: 0;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			bottom: -1px;
			height: 100%;
			width: 100%;
			background: linear-gradient(0deg, var(--color-white) 0%, rgba(color("white"), 0) 50%);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: var(--spacing-5);

		@media screen and (min-width: grid-size(md)) {
			gap: var(--spacing-6);
			flex-direction: row;
		}
	}

	&__content-column {
		flex: 1;

		@media screen and (min-width: grid-size(md)) {

			&:first-child {
				max-width: 300px;
				border-right: 1px solid var(--color-yellow);
				padding-right: var(--spacing-6);
			}
		}
	}

	&__content-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid var(--color-black);
		padding: var(--spacing-2) 20px;
		border-radius: var(--border-radius);
		margin-top: var(--spacing-4);
		font-size: var(--font-size-small);
		line-height: var(--line-height-small);

		&:hover {
			text-decoration: none;
			background-color: var(--color-black);
			color: var(--color-white);
		}

		@include transition(background-color, 200ms);

		@media screen and (min-width: grid-size(md)) {
			display: block;
			border: 0;
			padding: 0;
			margin-top: 0;
			font-size: var(--font-size);
			line-height: var(--line-height);

			&:hover {
				background-color: transparent;
				color: inherit;
			}
		}
	}

	// Compact Mode.
	&--compact {
		max-width: 360px;

		#{$self}__content {
			flex-direction: column;
			gap: 0;
		}

		#{$self}__content-info {
			margin-top: var(--spacing-4);
		}

		#{$self}__content-column {
			border-right: 0;
			max-width: 100%;
			padding-right: 0;

			+ #{$self}__content-column {
				border-top: 1px solid var(--color-yellow);
				margin-top: var(--spacing-4);
			}
		}
	}
}
