@import "../../../front-end/scss/";

.footer {

	&__social-icons li span {
		background-color: var(--color-white);
		color: var(--color-black);
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		position: relative;

		&:hover {

			svg path {

				@include transition("color");
			}
		}
	}

	.maybe-link {
		outline: none;
		text-decoration: none;

		&:hover {
			text-decoration: solid 1px underline;
		}
	}
}
