name: Sync Pantheon Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to sync with live'
        default: 'qa'
        type: choice
        options:
          - 'qa'
          - 'dev'

permissions:
  contents: read

jobs:
  pre-run:
    name: Pre-Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check allowed user
        run: |
          USER_EXISTS=$(jq -r --arg key "$GITHUB_ACTOR" '.allowed_users | any(. == $key)' .github/users.json)
          if [ "$USER_EXISTS" = "false" ]; then
            echo "::error::$GITHUB_ACTOR is not allowed to sync environments"
            exit 1
          fi

  env-sync:
    name: Syncing Environment from live to ${{ inputs.environment }}
    needs: pre-run
    runs-on: ubuntu-latest
    env:
      PANTHEON_SSH_PRIVATE_KEY: ${{ secrets.PANTHEON_SSH_PRIVATE_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install Terminus
        uses: pantheon-systems/terminus-github-actions@main
        with:
          pantheon-machine-token: ${{ secrets.PANTHEON_MACHINE_TOKEN }}

      - name: Sync Environment
        run: bash .bin/sync-environment.sh ${{ inputs.environment }}
