/**
 * Inquiry form modal
 */
@import "../../scss";

.inquiry-form-modal {

	quark-inquiry-form,
	quark-form,
	form,
	tp-form {
		display: block;
		height: 100%;
	}

	tp-form-error {
		display: none;
	}

	button[type="submit"] {
		width: 100%;
	}

	textarea {
		height: 88px;
	}

	.form-field--buttons {

		button[type="submit"] {
			width: 100%;
			padding-block: var(--spacing-4);
		}
	}
}
